.btn-menu{
	margin-top: -4px;
	background-color:Transparent;
}
.btn-menu:hover{
	color: white;
}
.conteudo-inicial{
  	height: 100%;
	min-height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.background-logo-index{
	background-color: white; 
	height: 100vh;
	background: url(../resources/img/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.background-funcionalidades-index{
	background-color: white; 
	background: url(../resources/img/background2.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.background-cadastro{
	background-color: white; 
	height: 100vh;
	background: url(../resources/img/background3.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.background-cadastro-completo{
	background-color: white; 
	height: 100vh;
	background: url(../resources/img/background4.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.background-login{
	background-color: white; 
	height: 100vh;	 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.background-dash{	
	height: 100vh;	 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.box-funcionalidades{
	border: 2px solid; 
	border-color: white; 	
	padding: 10px 5px 0px 5px;
	height: 22em;
	display:table-cell;
    vertical-align:middle;
    width:100%;
    height:100%:	
}
.box-funcionalidades h3{	
	color: white;
	font-size: 1.4em	
}
.box-funcionalidades p{	
	color: white;
	font-size: 1.2em	
}
.box-funcionalidades img{
	width: 4.7em;
}
.icone-r-menu{
	width:1.5em; 
	margin-top: -0.3em
}
.logo-inicial{
	width: 28em
}
.botao-cinza {
	font-size: 1.5em;
	background-color: #222D32;
	color: white;
	text-decoration: none
}

.botao-cinza:visited {
	font-size: 1.5em;
	background-color: #222D32;
	color: white;
	text-decoration: none
}

.botao-cinza:focused {
	font-size: 1.5em;
	background-color: #222D32;
	color: white;
	text-decoration: none
}

.botao-cinza:hover{
	font-size:1.5em; 
	background-color: #D12034;
	color: white;
	text-decoration: none	
}

.spinner {
  margin:auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {  
  background-color:transparent;
  width: 3em;
  height: 3em;   
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {  
    transform: translateX(80px) rotate(-90deg) scale(0.3);
    -webkit-transform: translateX(80px) rotate(-90deg) scale(0.3);   
  } 50% { 
    transform: translateX(80px) translateY(80px) rotate(-179deg);
    -webkit-transform: translateX(80px) translateY(80px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(80px) translateY(80px) rotate(-180deg);
    -webkit-transform: translateX(80px) translateY(80px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(80px) rotate(-270deg) scale(0.3);
    -webkit-transform: translateX(0px) translateY(80px) rotate(-270deg) scale(0.3);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/* .modal {
  text-align: center; 
}

.modal:before {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
	margin-left: -5.8em;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	background-color: transparent !important;
} */

.modal-content {
	border: 0px;
	background-color: transparent;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
	-o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.input-jadson{
	width:100%; 
	font-size:16px
}
.controls{
	margin-top: 8px;	
}
