<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastrar Categoria</h3>
				</div>

				<h:form id="formCadastrarCategoria">
					<div class="box-body">
						<h:messages layout="table" errorClass="text-danger"
							infoClass="text-success" style="font-size: 1.2em" />
						<div class="form-group">
							<label for="itTipo">Nome da Categoria</label>
							<h:inputText value="#{estoqueBean.tipoProduto.tipo}" id="itTipo" styleClass="form-control input-jadson"
								a:placeholder="Ex: Bebidas, Massas, Petiscos..." required="true"></h:inputText>
							<!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"/> -->
						</div>
					</div>

					<div class="box-footer" align="center">
						<h:commandButton id="botaoCadastroCategoria" value="Cadastrar"
							action="#{estoqueBean.cadastrarTipoProduto}" styleClass="btn btn-danger">
						<!-- <f:ajax event="action" execute="@form" render="@all"/> -->
						</h:commandButton>
					</div>
				</h:form>
			</div>
		</div>
	</div>
</ui:composition>
</html>