<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastrar Produto</h3>
				</div>
				<h:form id="formCadastroProduto">
					<div class="box-body">
						<h:messages layout="table" errorClass="text-danger"
							infoClass="text-success" style="font-size: 1.2em" />
						<div class="form-group">
							<label for="itNome">Nome do Produto</label>
							<h:inputText value="#{estoqueBean.produto.nome}" id="itNome" styleClass="form-control"
								a:placeholder="Ex: Skol 300ml, Hamburguer, Red Bull..." required="true" requiredMessage="Por favor, insira o nome do produto"></h:inputText>
						</div>

						<div class="form-group controls">
							<label for="smTipo">Categoria</label>
							<h:selectOneMenu value="#{estoqueBean.produto.tipo}" styleClass="form-control" id="smTipo" required="true" converter="tipoProdutoConverter">								
								<f:selectItems value="#{estoqueBean.tiposProduto}" var="tipo" itemLabel="#{tipo.tipo}" itemValue="#{tipo}" />
							</h:selectOneMenu>
						</div>

						<div class="form-group controls">
							<h:outputLabel for="itValorCompra" id="labelCusto">#{estoqueBean.produto.daCasa == true ? 'Custo de Preparo' : 'Preço de Compra'}</h:outputLabel>
							<h:inputText value="#{estoqueBean.produto.valorCusto}" id="itValorCompra" styleClass="form-control mascara-real"
								a:placeholder="Ex: R$10,55" required="true" requiredMessage="Por favor, insira o preço de compra do produto">
								<f:convertNumber maxFractionDigits="2" groupingUsed="true" maxIntegerDigits="14" type="currency" currencySymbol="R$" pattern="R$#,##0.00" locale="pt_BR" />
							</h:inputText>
						</div>

						<div class="form-group controls">
							<label for="itValorVenda">Preço de Venda</label>
							<h:inputText value="#{estoqueBean.produto.valorVenda}" id="itValorVenda" styleClass="form-control mascara-real"
								a:placeholder="Ex: R$11,85" required="true" requiredMessage="Por favor, insira o preço de venda do produto">
								<f:convertNumber maxFractionDigits="2" groupingUsed="true" maxIntegerDigits="14" type="currency" currencySymbol="R$" pattern="R$#,##0.00" locale="pt_BR" />
							</h:inputText>
						</div>

						<div class="form-group controls">
							<label for="itQuantidade">Quantidade</label>
							<h:inputText disabled="#{estoqueBean.produto.daCasa}" value="#{estoqueBean.produto.quantidade}" id="itQuantidade" styleClass="form-control mascara-numero"
								a:placeholder="Ex: 20" required="#{estoqueBean.produto.daCasa == true ? false : true}" requiredMessage="Por favor, insira a quantidade em estoque do produto"></h:inputText>						
						</div>
						<div class="checkbox controls">
							<label><h:selectBooleanCheckbox value="#{estoqueBean.produto.daCasa}">
								<f:ajax render="itQuantidade labelCusto"/>
							</h:selectBooleanCheckbox></label>
							<h:outputLabel style="margin-left:3px; font-weight: normal; color:black">Da casa</h:outputLabel>
						</div>
					</div>

					<div class="box-footer" align="center">
						<h:commandButton id="botaoCadastroProduto" value="Cadastrar"
							action="#{estoqueBean.cadastrarProduto()}" styleClass="btn btn-danger">
							<!-- <f:ajax event="action" execute="@form" render="@all"/> -->
						</h:commandButton>
					</div>
				</h:form>
			</div>
		</div>
	</div>
</ui:composition>
</html>