<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Listar Categorias</h3>
				</div>
				<h:form id="formListarCategorias">
					<div class="box-body">
						<h:dataTable
							styleClass="table table-bordered table-striped table-responsive"
							id="tabelaListarMesas" border="1" var="categoria"
							value="#{estoqueBean.tiposProduto}">
							<h:column>
								<f:facet name="header">Categoria</f:facet>
								<div align="center">
									<h:outputText value="#{categoria.tipo}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Ações</f:facet>
								<div align="center">
									<h:commandLink
										onclick="$('#modalEditarCategoria').modal('show');"
										immediate="true" rel="tooltip" title="Editar">
										<i class="material-icons">mode_edit</i>
										<f:setPropertyActionListener
											target="#{estoqueBean.tipoProdutoSelecionado}"
											value="#{categoria}" />
										<f:ajax execute="@this" render=":formEditarCategoria" />
									</h:commandLink>
									<h:commandLink
										onclick="$('#modalExcluirCategoria').modal('show');"
										immediate="true" rel="tooltip" title="Excluir">
										<i class="material-icons">delete_forever</i>
										<f:setPropertyActionListener
											target="#{estoqueBean.tipoProdutoSelecionado}"
											value="#{categoria}" />
										<f:ajax execute="@this" render=":formExcluirCategoria" />
									</h:commandLink>
								</div>
							</h:column>
						</h:dataTable>
					</div>
				</h:form>
			</div>
		</div>
	</div>
	<!-- MODAL EDITAR CATEGORIA -->
	<div id="modalEditarCategoria" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="center">
											<h3 class="box-title">Editar Categoria</h3>
										</div>
										<h:form id="formEditarCategoria">
											<div class="box-body">
												<h:messages layout="table" errorClass="text-danger"
													infoClass="text-success" style="font-size: 1.2em" />
												<div class="form-group">
													<label for="itTipo">Nome da Categoria</label>
													<h:inputText value="#{estoqueBean.tipoProdutoSelecionado.tipo}"
														id="itTipo" styleClass="form-control input-jadson"
														a:placeholder="Ex: Bebidas, Massas, Petiscos..." required="true"></h:inputText>
													<!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"/> -->
												</div>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Salvar" styleClass="btn btn-danger"
													action="#{estoqueBean.atualizarTipoProduto}">
													<f:ajax event="action" execute="formEditarCategoria"
														render="formEditarCategoria formListarCategorias" />
												</h:commandButton>
												<h:commandButton value="Fechar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalEditarCategoria').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL EXCLUIR CATEGORIA -->
	<div id="modalExcluirCategoria" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="center">
											<h3 class="box-title">Excluir Categoria</h3>
										</div>
										<h:form id="formExcluirCategoria">
											<div class="box-body">
												<h5>
													Deseja realmente excluir a categoria <strong>#{estoqueBean.tipoProdutoSelecionado.tipo}</strong>
													?
												</h5>
												<h6 class="text-danger" style="font-size: 12px">Atenção! Ao excluir essa categoria todos os produto associados à ela serão excluídos</h6>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Excluir" styleClass="btn btn-danger"
													action="#{estoqueBean.excluirTipoProduto}"
													onclick="$('#modalExcluirCategoria').modal('hide');">
													<f:ajax event="action" execute="formExcluirCategoria"
														render=":formListarCategorias :formListarProdutos" immediate="true" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalExcluirCategoria').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui:composition>
</html>