<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Listar Produtos</h3>
				</div>
				<h:form id="formListarProdutos">
					<div class="box-body table-responsive">
						<h:dataTable styleClass="table table-bordered table-striped"
							id="tabelaListarMesas" border="1" var="produto"
							value="#{estoqueBean.produtos}">
							<h:column>
								<f:facet name="header">Nome</f:facet>
								<div align="center">
									<h:outputText value="#{produto.nome}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Categoria</f:facet>
								<div align="center">
									<h:outputText value="#{produto.tipo.tipo}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Preço de Compra</f:facet>
								<div align="center">
									<h:outputText value="R$ " />
									<h:outputText value="#{produto.valorCusto}">
										<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
									</h:outputText>
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Preço de Venda</f:facet>
								<div align="center">
									<h:outputText value="R$ " />
									<h:outputText value="#{produto.valorVenda}">
										<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
									</h:outputText>
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Quantidade</f:facet>
								<div align="center">
									<h:outputText
										value="#{produto.daCasa == true ? ' - ' : produto.quantidade}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Da casa</f:facet>
								<div align="center">
									<h:outputText value="#{produto.daCasa}">
										<f:converter converterId="booleanConverter"></f:converter>
									</h:outputText>
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Ações</f:facet>
								<div align="center">
									<h:commandLink
										onclick="$('#modalEditarProduto').modal('show');"
										immediate="true" rel="tooltip" title="Editar">
										<i class="material-icons">mode_edit</i>
										<f:setPropertyActionListener
											target="#{estoqueBean.produtoSelecionado}" value="#{produto}" />
										<f:ajax execute="@this" render=":formEditarProduto" />
									</h:commandLink>
									<h:commandLink
										onclick="$('#modalExcluirProduto').modal('show');"
										immediate="true" rel="tooltip" title="Excluir">
										<i class="material-icons">delete_forever</i>
										<f:setPropertyActionListener
											target="#{estoqueBean.produtoSelecionado}" value="#{produto}" />
										<f:ajax execute="@this" render=":formExcluirProduto" />
									</h:commandLink>
								</div>
							</h:column>
						</h:dataTable>
					</div>
				</h:form>
			</div>
		</div>
	</div>
	<!-- MODAL EDITAR PRODUTO -->
	<div id="modalEditarProduto" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="left">
											<h3 class="box-title">Editar Produto</h3>
										</div>
										<h:form id="formEditarProduto">
											<h:outputScript>
												$(".mascara-real").maskMoney({
													prefix: "R$",
													decimal: ",",
													thousands: "."
												});
											</h:outputScript>
											<div class="box-body">
												<h:messages layout="table" errorClass="text-danger"
													infoClass="text-success" style="font-size: 1.2em" />
												<div class="form-group">
													<label for="itNome">Nome do Produto</label>
													<h:inputText value="#{estoqueBean.produtoSelecionado.nome}"
														id="itNome" styleClass="form-control input-jadson"
														a:placeholder="Ex: Skol 300ml, Hamburguer, Red Bull..."
														required="true"
														requiredMessage="Por favor, insira o nome do produto"></h:inputText>
												</div>

												<div class="form-group controls">
													<label for="smTipo">Categoria</label>
													<h:selectOneMenu
														value="#{estoqueBean.produtoSelecionado.tipo}"
														styleClass="form-control input-jadson" id="smTipo"
														required="true" converter="tipoProdutoConverter">
														<f:selectItems value="#{estoqueBean.tiposProduto}"
															var="tipo" itemLabel="#{tipo.tipo}" itemValue="#{tipo}"></f:selectItems>
													</h:selectOneMenu>
												</div>

												<div class="form-group controls">
													<h:outputLabel for="itValorCompra" id="labelCusto">#{estoqueBean.produtoSelecionado.daCasa == true ? 'Custo de Preparo' : 'Preço de Compra'}</h:outputLabel>
													<h:inputText
														value="#{estoqueBean.produtoSelecionado.valorCusto}"
														id="itValorCompra"
														styleClass="form-control mascara-real input-jadson"
														a:placeholder="Ex: R$10,55" required="true"
														requiredMessage="Por favor, insira o preço de compra do produto">
														<f:convertNumber maxFractionDigits="2" groupingUsed="true"
															maxIntegerDigits="14" type="currency" currencySymbol="R$"
															pattern="R$#,##0.00" locale="pt_BR" />
													</h:inputText>
												</div>

												<div class="form-group controls">
													<label for="itValorVenda">Preço de Venda</label>
													<h:inputText
														value="#{estoqueBean.produtoSelecionado.valorVenda}"
														id="itValorVenda"
														styleClass="form-control mascara-real input-jadson"
														placeholder="Ex: R$11,85" required="true"
														requiredMessage="Por favor, insira o preço de venda do produto">
														<f:convertNumber maxFractionDigits="2" groupingUsed="true"
															maxIntegerDigits="14" type="currency" currencySymbol="R$"
															pattern="R$#,##0.00" locale="pt_BR" />
													</h:inputText>
												</div>

												<div class="form-group controls">
													<label for="itQuantidade">Quantidade</label>
													<p:inputMask
														disabled="#{estoqueBean.produtoSelecionado.daCasa}"
														value="#{estoqueBean.produtoSelecionado.quantidade}"
														id="itQuantidade" styleClass="form-control input-jadson"
														placeholder="Ex: 20" mask="999999"
														required="#{estoqueBean.produtoSelecionado.daCasa == true ? false : true}"
														requiredMessage="Por favor, insira a quantidade em estoque do produto" />
												</div>
												<div class="checkbox controls">
													<label><h:selectBooleanCheckbox
															value="#{estoqueBean.produtoSelecionado.daCasa}">
															<f:ajax render="itQuantidade labelCusto" />
														</h:selectBooleanCheckbox></label>
													<h:outputLabel
														style="margin-left:3px; font-weight: normal; color:black">Da casa</h:outputLabel>
												</div>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Salvar" styleClass="btn btn-danger"
													action="#{estoqueBean.atualizarProduto}">
													<f:ajax event="action" execute="formEditarProduto"
														render="formEditarProduto formListarProdutos" />
												</h:commandButton>
												<h:commandButton value="Fechar" styleClass="btn btn-danger"
													style="margin-left:10px"
													onclick="$('#modalEditarProduto').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL EXCLUIR PRODUTO -->
	<div id="modalExcluirProduto" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border">
											<h3 class="box-title">Excluir Produto</h3>
										</div>
										<h:form id="formExcluirProduto">
											<div class="box-body">
												<h5>
													Deseja realmente excluir o produto <strong>#{estoqueBean.produtoSelecionado.nome}</strong>
													?
												</h5>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Excluir" styleClass="btn btn-danger"
													action="#{estoqueBean.excluirProduto}"
													onclick="$('#modalExcluirProduto').modal('hide');">
													<f:ajax event="action" execute="formExcluirProduto"
														render="formListarProdutos" immediate="true" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalExcluirProduto').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui:composition>
</html>