<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<meta charset="utf-8" />
	<!-- COMPATIBILIDA EDGE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- CONFIGURAÇÃO MOBILE -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />	
	<!-- ÍCONE BARRA -->
	<link rel="icon" type="imagem/png" href="#{resource['/img/r-vermelho.png']}" />
	<!-- COR DA BARRA CHROME -->
	<meta name="theme-color" content="#1A2226" />
	<!-- TÍTULO DA PÁGINA -->
	<title><ui:insert name="title">Rango | Gerenciador de Estabelecimentos Alimentícios</ui:insert></title>
	<!-- CSS BOOTSTRAP-->
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<!-- CSS DO TEMPLATE -->
	<h:outputStylesheet library="css" name="freelancer.min.css" />
	<!-- CSS DE PERSONALIZAÇÃO -->
	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="montserrat.css" />
	<h:outputStylesheet library="css" name="lato.css" />
	<h:outputStylesheet library="css" name="jadson.css" />
	<!-- JAVASCRIPT -->
	<h:outputScript library="js" name="jquery.min.js" target="body" />
	<h:outputScript library="js" name="bootstrap.min.js" target="body" />
	<h:outputScript library="js" name="jquery.easing.min.js" target="body" />
	<h:outputScript library="js" name="freelancer.min.js" target="body" />
	<h:outputScript library="js" name="jquery.mask.js" target="body" />
	<h:outputScript library="js" name="jadson.js" target="body" />	
	<h:outputScript library="javax.faces" name="jsf.js"/>
</h:head>

<h:body id="page-top" styleClass="index">
	<!-- BARRA DE NAVEGAÇÃO -->
	<div id="navbar">
		<ui:insert name="navbar">
			<nav id="mainNav"
				class="navbar navbar-default navbar-fixed-top navbar-custom">
				<div class="container">
					<!-- VISUALIZAÇÃO MOBILE -->
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span><i
								class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand" href="#page-top"><img
							class="icone-r-menu"
							src="#{facesContext.externalContext.requestContextPath}/resources/img/r-branco.png"
							onmouseover="this.src='#{facesContext.externalContext.requestContextPath}/resources/img/r-vermelho.png'"
							onmouseout="this.src='#{facesContext.externalContext.requestContextPath}/resources/img/r-branco.png'"
							alt="" /></a>
					</div>

					<!-- ITENS DE NAVEGAÇÃO -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li class="hidden"><h:outputLink value="#page-top"></h:outputLink></li>
							<li class="page-scroll"><h:outputLink value="#{request.contextPath}/" rendered="#{!naoRenderizarBotaoInicio}">Início</h:outputLink></li>
							<li class="page-scroll"><h:outputLink value="#{request.contextPath}/paginas/dashboard.xhtml" rendered="#{renderizarBotaoLogin}">Login</h:outputLink></li>
							<li class="page-scroll"><h:outputLink value="#sobre" rendered="#{renderizarBotaoSobre}">Sobre</h:outputLink></li>
							<li class="page-scroll"><h:outputLink value="#recursos" rendered="#{renderizarBotaoRecursos}">Recursos</h:outputLink></li>
							<li class="page-scroll"><h:outputLink value="#cadastro" rendered="#{renderizarBotaoCadastroInicio}">Cadastro</h:outputLink></li>
							<li class="page-scroll"><h:outputLink value="#{request.contextPath}/#cadastro" rendered="#{renderizarBotaoCadastro}">Cadastro</h:outputLink>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</ui:insert>
	</div>
	
	<!-- CONTEÚDO -->
	<div id="content">
		<ui:insert name="content" />		
	</div>
	
	<!-- RODAPÉ -->
	<div id="footer">
		<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Contato</h3>
                        <p>(83) 9 9804 0556
                        <br></br>Monteiro - PB </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Nossas redes sociais</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube"></i></a>
                            </li>

                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Sugestões</h3>
                        <p>Para sugestões ou melhorias, contate-nos pelo nosso <a href="mailto:gerencia.rango@gmail.com">email profissional</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Rango! - Todos os direitos reservados - 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>	
	</div>	
	
	<!-- Botão Celular para voltar para o começo -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
</h:body>
</html>