<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastrar Mesa</h3>
				</div>
				<h:form id="formCadastrarFuncionario">
					<div class="box-body">
						<h:messages layout="table" errorClass="text-danger"
							infoClass="text-success" style="font-size: 1.2em" />
						<div class="form-group">
							<label for="itNumero">Número da Mesa</label>
							<h:inputText value="#{mesaBean.mesa.numero}" id="itNumero" styleClass="form-control mascara-numero-mesa input-jadson"
								a:placeholder="Ex: 5" required="true" requiredMessage="Por favor, insira o numero da mesa"/>
						</div>
						<div class="form-group controls">
							<label for="itCapacidade">Capacidade</label>
							<h:inputText value="#{mesaBean.mesa.capacidade}" id="itCapacidade" styleClass="form-control mascara-numero-mesa input-jadson"
								a:placeholder="Ex: 4" required="true" requiredMessage="Por favor, insira a capacidade da mesa"/>
						</div>
						<div class="form-group controls">
							<label for="itLocalizacao">Localização</label>
							<h:selectOneMenu value="#{mesaBean.mesa.externa}" styleClass="form-control input-jadson" required="true">
								<f:selectItem itemLabel="Interna" itemValue="false" />
								<f:selectItem itemLabel="Externa" itemValue="true" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="box-footer" align="center">
						<h:commandButton id="botaoCadastroMesa" value="Cadastrar"
							action="#{mesaBean.cadastrar()}" styleClass="btn btn-danger">
							<!-- <f:ajax event="action" execute="@form" render="conteudo"></f:ajax> -->
						</h:commandButton>
					</div>
				</h:form>
			</div>
		</div>
	</div>
</ui:composition>
</html>