<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Listar Mesas</h3>
				</div>
				<h:form id="formListarMesas">
					<div class="box-body table-responsive">
						<h:dataTable styleClass="table table-bordered table-striped"
							id="tabelaListarMesas" border="1" var="mesa"
							value="#{mesaBean.mesas}">
							<h:column>
								<f:facet name="header">Número</f:facet>
								<div align="center">
									<h:outputText value="#{mesa.numero}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Capacidade</f:facet>
								<div align="center">
									<h:outputText value="#{mesa.capacidade}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Ocupada</f:facet>
								<div align="center">
									<h:outputText value="#{mesa.ocupada}">
										<f:converter converterId="booleanConverter" />
									</h:outputText>
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Localização</f:facet>
								<div align="center">
									<h:outputText value="#{mesa.externa}">
										<f:converter converterId="localizacaoConverter" />
									</h:outputText>
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Ações</f:facet>
								<div align="center">
									<h:commandLink onclick="$('#modalEditarMesa').modal('show');"
										immediate="true" rel="tooltip" title="Editar">
										<i class="material-icons">mode_edit</i>
										<f:setPropertyActionListener
											target="#{mesaBean.mesaSelecionada}" value="#{mesa}" />
										<f:ajax execute="@this" render=":formEditarMesa" />
									</h:commandLink>
									<h:commandLink onclick="$('#modalExcluirMesa').modal('show');"
										immediate="true" rel="tooltip" title="Excluir">
										<i class="material-icons">delete_forever</i>
										<f:setPropertyActionListener
											target="#{mesaBean.mesaSelecionada}" value="#{mesa}" />
										<f:ajax execute="@this" render=":formExcluirMesa" />
									</h:commandLink>
								</div>
							</h:column>
						</h:dataTable>
					</div>
				</h:form>
			</div>
		</div>
	</div>
	<!-- MODAL EDITAR MESA -->
	<div id="modalEditarMesa" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="center">
											<h3 class="box-title">Editar Mesa</h3>
										</div>
										<h:form id="formEditarMesa">
											<div class="box-body">
												<h:messages layout="table" errorClass="text-danger"
													infoClass="text-success" style="font-size: 1.2em" />
												<div class="form-group">
													<label for="itNumeroMesa">Número da Mesa</label>													
													<p:inputMask value="#{mesaBean.mesaSelecionada.numero}"
														id="itNumeroMesa" styleClass="form-control input-jadson"
														placeholder="Ex: 5" mask="999" required="true"
														requiredMessage="Por favor, insira o numero da mesa" />

												</div>
												<div class="form-group controls">
													<label for="itCapacidade">Capacidade</label>
													<p:inputMask value="#{mesaBean.mesaSelecionada.capacidade}"
														id="itCapacidade"
														styleClass="form-control input-jadson"
														placeholder="Ex: 4" mask="999" required="true"
														requiredMessage="Por favor, insira a capacidade da mesa" />
												</div>
												<div class="form-group controls" align="center">
													<label for="itLocalizacao">Fora do Estabelecimento?</label>
													<h:selectBooleanCheckbox
														value="#{mesaBean.mesaSelecionada.externa}"
														styleClass="form-control" style="width:20px"
														required="true">
													</h:selectBooleanCheckbox>
												</div>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Salvar" styleClass="btn btn-danger"
													action="#{mesaBean.atualizar}">
													<f:ajax event="action" execute="formEditarMesa"
														render="formEditarMesa formListarMesas" />
												</h:commandButton>
												<h:commandButton value="Fechar" styleClass="btn btn-danger"
													style="margin-left:10px"
													onclick="$('#modalEditarMesa').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL EXCLUIR MESA -->
	<div id="modalExcluirMesa" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border">
											<h3 class="box-title">Excluir Mesa</h3>
										</div>
										<h:form id="formExcluirMesa">
											<div class="box-body">
												<h5>
													Deseja realmente excluir a mesa <strong>#{mesaBean.mesaSelecionada.numero}</strong>
													?
												</h5>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Excluir" styleClass="btn btn-danger"
													action="#{mesaBean.excluir}"
													onclick="$('#modalExcluirMesa').modal('hide');">
													<f:ajax event="action" execute="formExcluirMesa"
														render="formListarMesas" immediate="true" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalExcluirMesa').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui:composition>
</html>