<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastrar Funcionário</h3>
				</div>
				<div class="box-body">					
					<h:form id="formCadastrarFuncionario">
					<h:messages layout="table" errorClass="text-danger"
						infoClass="text-success" style="font-size: 1.2em" />
						<div class="form-group">
							<label for="itNome">Nome do Funcionário</label>
							<h:inputText id="itNome"
								value="#{funcionarioBean.funcionario.nome}" required="true"
								styleClass="form-control input-jadson"
								a:placeholder="Ex: João Silva"
								requiredMessage="Por favor, insira o nome do funcionário">
								<f:validator validatorId="nomeValidator" />
							</h:inputText>
						</div>

						<div class="form-group controls">
							<label>Função</label>
							<h:selectOneMenu
								value="#{funcionarioBean.funcionario.tipoFuncionario}"
								required="true" styleClass="form-control input-jadson">
								<f:selectItems value="#{funcionarioBean.getTiposFuncionarios()}"
									var="funcao" itemLabel="#{funcao.descricao}"
									itemValue="#{funcao}" />
							</h:selectOneMenu>
						</div>

						<div class="form-group controls">
							<label for="itTelefone">Telefone</label>
							<p:inputMask id="itTelefone"
								value="#{funcionarioBean.funcionario.telefone}"
								styleClass="form-control input-jadson" mask="(99) 99999-9999"
								placeholder="(83) 99999-9999" required="true"
								requiredMessage="Por favor, insira o telefone do funcionário">
								<f:converter converterId="telefoneConverter" />
							</p:inputMask>
						</div>

						<div class="form-group controls">
							<label for="itLogin">Login</label>
							<div class="input-group">
								<h:inputText id="itLogin"
									value="#{funcionarioBean.funcionario.login}" required="true"
									styleClass="form-control input-jadson"
									a:placeholder="Ex: joaoSilva"
									requiredMessage="Por favor, insira um login"></h:inputText>
								<span class="input-group-addon"><p:commandLink
										id="botaoChecarLogin" process="botaoChecarLogin formCadastrarFuncionario:itLogin" action="#{funcionarioBean.checkarLogin()}">
										<!-- <i class="fa fa-check" datacolor="red"></i> -->
										<i class="material-icons">check_circle</i>
										<!-- <f:ajax event="action" execute="botaoChecarLogin" render="@none"></f:ajax> -->
									</p:commandLink></span>
							</div>
						</div>

						<div class="form-group controls">
							<label for="itSenha">Senha</label>
							<h:inputSecret id="itSenha"
								value="#{funcionarioBean.funcionario.senha}" required="true"
								styleClass="form-control input-jadson"
								requiredMessage="Por favor, insira uma senha" />
						</div>

						<div class="form-group controls">
							<label for="itConfirmacaoSenha">Confirmar Senha</label>
							<h:inputSecret id="itConfirmacaoSenha"
								value="#{funcionarioBean.confirmarSenha}" required="true"
								styleClass="form-control input-jadson"
								requiredMessage="Por favor, insira a senha de confirmação" />
						</div>
						<div class="form-group controls" align="center">
							<h:commandButton id="botaoCadastroFuncionario" value="Cadastrar"
								action="#{funcionarioBean.cadastrar()}"
								styleClass="btn btn-danger">
								<!-- <f:ajax event="action" execute="@form" render="conteudo"></f:ajax> -->
							</h:commandButton>
						</div>
					</h:form>
				</div>
				<div class="box-footer" align="center"></div>
			</div>

		</div>
	</div>
</ui:composition>

</html>