<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Listar Funcionários</h3>
				</div>
				<div class="box-body table-responsive">
					<h:form id="formListarFuncionario">
						<h:dataTable styleClass="table table-bordered table-striped"
							id="tabelaListarFuncionarios" border="1" var="funcionario"
							value="#{funcionarioBean.funcionarios}">
							<h:column>
								<f:facet name="header">Nome</f:facet>
								<div align="center">
									<h:outputText value="#{funcionario.nome}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Função</f:facet>
								<div align="center">
									<h:outputText value="#{funcionario.tipoFuncionario.descricao}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Login</f:facet>
								<div align="center">
									<h:outputText value="#{funcionario.login}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Telefone</f:facet>
								<div align="center">
									<h:outputText value="#{funcionario.telefone}">
										<f:converter converterId="telefoneConverter"/>
									</h:outputText>
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Ações</f:facet>
								<div align="center">
									<!-- <h:commandLink>
										<i class="material-icons">portrait</i>
										<f:setPropertyActionListener
											target="#{funcionarioBean.funcionarioSelecionado}"
											value="#{funcionario}" />
									</h:commandLink> -->
									<h:commandLink
										onclick="$('#modalEditarFuncionario').modal('show');"
										immediate="true" rel="tooltip" title="Editar">
										<i class="material-icons">mode_edit</i>
										<f:setPropertyActionListener
											target="#{funcionarioBean.funcionarioSelecionado}"
											value="#{funcionario}" />
										<f:ajax execute="@this" render=":formEditarFuncionario" />
									</h:commandLink>
									<h:commandLink
										onclick="$('#modalExcluirFuncionario').modal('show');"
										immediate="true" rel="tooltip" title="Excluir">
										<i class="material-icons">delete_forever</i>
										<f:setPropertyActionListener
											target="#{funcionarioBean.funcionarioSelecionado}"
											value="#{funcionario}" />
										<f:ajax execute="@this" render=":formExcluirFuncionario" />
									</h:commandLink>
								</div>
							</h:column>
						</h:dataTable>
					</h:form>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL EDITAR FUNCIONÁRIO -->
	<div id="modalEditarFuncionario" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="center">
											<h3 class="box-title">Editar Funcionário</h3>
										</div>
										<h:form id="formEditarFuncionario">
											<div class="box-body">

												<h:messages layout="table" errorClass="text-danger"
													infoClass="text-success" style="font-size: 1.2em" />
												<div class="form-group">
													<label for="itNome">Nome do Funcionário</label>
													<h:inputText id="itNome"
														value="#{funcionarioBean.funcionarioSelecionado.nome}"
														required="true" styleClass="form-control input-jadson"
														a:placeholder="Ex: João Silva"
														requiredMessage="Por favor, insira o nome do funcionário">
														<f:validator validatorId="nomeValidator" />
													</h:inputText>
												</div>

												<div class="form-group controls">
													<label>Função</label>
													<h:selectOneMenu
														value="#{funcionarioBean.funcionarioSelecionado.tipoFuncionario}"
														required="true" styleClass="form-control input-jadson">
														<f:selectItems
															value="#{funcionarioBean.getTiposFuncionarios()}"
															var="funcao" itemLabel="#{funcao.descricao}"
															itemValue="#{funcao}" />
													</h:selectOneMenu>
												</div>

												<div class="form-group controls">
													<label for="itTelefone">Telefone</label>
													<p:inputMask id="itTelefone"
														value="#{funcionarioBean.funcionarioSelecionado.telefone}"
														styleClass="form-control input-jadson" required="true"
														placeholder="(83) 99999-9999" mask="(99) 99999-9999"
														requiredMessage="Por favor, insira o telefone do funcionário">
														<f:converter converterId="telefoneConverter" />
													</p:inputMask>
												</div>

												<div class="form-group controls">
													<label for="itLogin">Login</label>
													<div class="input-group">
														<h:inputText id="itLogin"
															value="#{funcionarioBean.funcionarioSelecionado.login}"
															required="true" styleClass="form-control input-jadson"
															a:placeholder="Ex: joaoSilva"
															requiredMessage="Por favor, insira um login"></h:inputText>
														<span class="input-group-addon"><p:commandLink
																id="botaoChecarLogin"
																process="botaoChecarLogin formEditarFuncionario:itLogin"
																action="#{funcionarioBean.checkarLoginEditado()}">
																<!-- <i class="fa fa-check" datacolor="red"></i> -->
																<i class="material-icons">check_circle</i>
																<!-- <f:ajax event="action" execute="botaoChecarLogin" render="@none"></f:ajax> -->
															</p:commandLink></span>
													</div>
												</div>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Salvar" styleClass="btn btn-danger"
													action="#{funcionarioBean.atualizar}">
													<f:ajax event="action" execute="formEditarFuncionario"
														render="formEditarFuncionario formListarFuncionario" />
												</h:commandButton>
												<h:commandButton value="Fechar" styleClass="btn btn-danger"
													style="margin-left:10px"
													onclick="$('#modalEditarFuncionario').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>

										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL EXCLUIR FUNCIONÁRIO -->
	<div id="modalExcluirFuncionario" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border">
											<h3 class="box-title">Excluir Funcionário</h3>
										</div>
										<h:form id="formExcluirFuncionario">
											<div class="box-body">
												<h5>
													Deseja realmente excluir o funcionário <strong>#{funcionarioBean.funcionarioSelecionado.nome}</strong>
													?
												</h5>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Excluir" styleClass="btn btn-danger"
													action="#{funcionarioBean.excluir}"
													onclick="$('#modalExcluirFuncionario').modal('hide');">
													<f:ajax event="action" execute="formExcluirFuncionario"
														render="formListarFuncionario" immediate="true" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalExcluirFuncionario').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui:composition>
</html>