<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Cozinha</h3>
				</div>
				<h:form id="formListarItensCozinha">
					<div class="box-body table-responsive">
						<h:dataTable styleClass="table table-bordered table-striped"
							id="tabelaListarMesas" border="1" var="item"
							value="#{pedidoBean.itensCozinha}">
							<h:column>
								<f:facet name="header">Pedido</f:facet>
								<div align="center">
									<h:outputText value="##{item.pedido.idPedido}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Mesa</f:facet>
								<div align="center">
									<h:outputText value="#{item.pedido.mesa.numero}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Item</f:facet>
								<div align="center">
									<h:outputText value="#{item.produto.nome}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Quantidade</f:facet>
								<div align="center">
									<h:outputText value="#{item.quantidade}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Status</f:facet>
								<div align="center">
									<h:outputText value="#{item.status.descricao}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Ações</f:facet>
								<div align="center">
									<h:commandLink
										onclick="$('#modalPrepararItem').modal('show');"
										immediate="true" rendered="#{item.isNaFila()}">
										<i class="material-icons">whatshot</i>
										<f:setPropertyActionListener
											target="#{pedidoBean.itemSelecionado}" value="#{item}" />
										<f:ajax execute="@this" render=":formPrepararItem" />
									</h:commandLink>
									<h:commandLink
										onclick="$('#modalItemPronto').modal('show');"
										immediate="true" rendered="#{item.isEmPreparo()}">
										<i class="material-icons">done</i>
										<f:setPropertyActionListener
											target="#{pedidoBean.itemSelecionado}" value="#{item}" />
										<f:ajax execute="@this" render=":formItemPronto" />
									</h:commandLink>
								</div>
							</h:column>
						</h:dataTable>
					</div>
					<p:poll interval="10"
						listener="#{pedidoBean.atualizarItensCozinha}"
						update="formListarItensCozinha" />
				</h:form>
			</div>
		</div>
	</div>
	<!-- MODAL PREPARAR ITEM -->
	<div id="modalPrepararItem" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="center">
											<h3 class="box-title">Preparar Item</h3>
										</div>
										<h:form id="formPrepararItem">
											<div class="box-body" align="center">
												<h5>
													Deseja realmente começar o preparo do <strong>#{pedidoBean.itemSelecionado.produto.nome}</strong> da mesa <strong>#{pedidoBean.itemSelecionado.pedido.mesa.numero}</strong>
													?
												</h5>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Confirmar"
													styleClass="btn btn-danger"
													action="#{pedidoBean.prepararItem}">
													<f:ajax event="action" execute="@this"
														render=":formListarItensCozinha" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalPrepararItem').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL ITEM PRONTO -->
	<div id="modalItemPronto" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="center">
											<h3 class="box-title">Entregar Item</h3>
										</div>
										<h:form id="formItemPronto">
											<div class="box-body" align="center">
												<h5>
													Deseja realmente entregar o <strong>#{pedidoBean.itemSelecionado.produto.nome}</strong> da mesa <strong>#{pedidoBean.itemSelecionado.pedido.mesa.numero}</strong>
													?
												</h5>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Confirmar"
													styleClass="btn btn-danger"
													action="#{pedidoBean.itemPronto}">
													<f:ajax event="action" execute="@this"
														render=":formListarItensCozinha" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalItemPronto').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui:composition>
</html>