<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition>
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Criar Pedido</h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label>#{mesaBean.mesas.size()== 0 ? 'Ainda não há mesas
							cadastradas!' : 'Selecione uma mesa:'}</label>
					</div>
					<h:form id="formSelecionarMesa">
						<div class="table-responsive" style="border: 0">
							<table>
								<tr>
									<ui:repeat value="#{mesaBean.mesas}" var="mesa"
										size="#{mesaBean.mesas.size() >= 10 ? 10 : mesaBean.mesas.size()}">
										<td><h:commandLink
												onclick="$('#modalCriarPedido').modal('show');"
												immediate="true" disabled="#{mesa.ocupada}">
												<div align="center"
													style="background-color:#{mesa.getColor()};padding-top:2px; background-image: url(#{facesContext.externalContext.requestContextPath}/resources/img/pub-table.png); background-size: 90px 120px; height:120px; width:90px; margin-right:5px">
													<h:outputText value="#{mesa.numero}"
														style="color: white; font-weight: bold; font-size:18px;" />
													<div
														style="width: 20px; height: 30px; margin-top: 66px; margin-left: 65px">
														<h:outputText value="#{mesa.capacidade}"
															style="color:white; font-weight: bold; font-size:18px; padding-top:20px" />
													</div>
												</div>
												<f:setPropertyActionListener
													target="#{pedidoBean.pedido.mesa}" value="#{mesa}" />
												<f:ajax execute="@this" render="formCriarPedido" />
											</h:commandLink></td>
									</ui:repeat>
								</tr>
							</table>
						</div>
						<div class="table-responsive" style="border: 0; margin-top: 5px">
							<table>
								<tr>
									<ui:repeat value="#{mesaBean.mesas}" var="mesa"
										offset="#{mesaBean.mesas.size() >= 10 ? 10 : mesaBean.mesas.size()}"
										size="#{mesaBean.mesas.size() >= 20 ? 20 : mesaBean.mesas.size()}">
										<td><h:commandLink
												onclick="$('#modalCriarPedido').modal('show');"
												immediate="true" disabled="#{mesa.ocupada}">
												<div align="center"
													style="background-color:#{mesa.getColor()};padding-top:2px; background-image: url(#{facesContext.externalContext.requestContextPath}/resources/img/pub-table.png); background-size: 90px 120px; height:120px; width:90px; margin-right:5px">
													<h:outputText value="#{mesa.numero}"
														style="color: white; font-weight: bold; font-size:18px;" />
													<div
														style="width: 20px; height: 30px; margin-top: 66px; margin-left: 65px">
														<h:outputText value="#{mesa.capacidade}"
															style="color:white; font-weight: bold; font-size:18px; padding-top:20px" />
													</div>
												</div>
												<f:setPropertyActionListener
													target="#{pedidoBean.pedido.mesa}" value="#{mesa}" />
												<f:ajax execute="@this" render="formCriarPedido" />
											</h:commandLink></td>
									</ui:repeat>
								</tr>
							</table>
						</div>
						<div class="table-responsive" style="border: 0; margin-top: 5px">
							<table>
								<tr>
									<ui:repeat value="#{mesaBean.mesas}" var="mesa"
										offset="#{mesaBean.mesas.size() >= 20 ? 20 : mesaBean.mesas.size()}"
										size="#{mesaBean.mesas.size() >= 30 ? 30 : mesaBean.mesas.size()}">
										<td><h:commandLink
												onclick="$('#modalCriarPedido').modal('show');"
												immediate="true" disabled="#{mesa.ocupada}">
												<div align="center"
													style="background-color:#{mesa.getColor()};padding-top:2px; background-image: url(#{facesContext.externalContext.requestContextPath}/resources/img/pub-table.png); background-size: 90px 120px; height:120px; width:90px; margin-right:5px">
													<h:outputText value="#{mesa.numero}"
														style="color: white; font-weight: bold; font-size:18px;" />
													<div
														style="width: 20px; height: 30px; margin-top: 66px; margin-left: 65px">
														<h:outputText value="#{mesa.capacidade}"
															style="color:white; font-weight: bold; font-size:18px; padding-top:20px" />
													</div>
												</div>
												<f:setPropertyActionListener
													target="#{pedidoBean.pedido.mesa}" value="#{mesa}" />
												<f:ajax execute="@this" render="formCriarPedido" />
											</h:commandLink></td>
									</ui:repeat>
								</tr>
							</table>
						</div>
						<div class="table-responsive" style="border: 0; margin-top: 5px">
							<table>
								<tr>
									<ui:repeat value="#{mesaBean.mesas}" var="mesa"
										offset="#{mesaBean.mesas.size() >= 30 ? 30 : mesaBean.mesas.size()}"
										size="#{mesaBean.mesas.size() >= 40 ? 40 : mesaBean.mesas.size()}">
										<td><h:commandLink
												onclick="$('#modalCriarPedido').modal('show');"
												immediate="true" disabled="#{mesa.ocupada}">
												<div align="center"
													style="background-color:#{mesa.getColor()};padding-top:2px; background-image: url(#{facesContext.externalContext.requestContextPath}/resources/img/pub-table.png); background-size: 90px 120px; height:120px; width:90px; margin-right:5px">
													<h:outputText value="#{mesa.numero}"
														style="color: white; font-weight: bold; font-size:18px;" />
													<div
														style="width: 20px; height: 30px; margin-top: 66px; margin-left: 65px">
														<h:outputText value="#{mesa.capacidade}"
															style="color:white; font-weight: bold; font-size:18px; padding-top:20px" />
													</div>
												</div>
												<f:setPropertyActionListener
													target="#{pedidoBean.pedido.mesa}" value="#{mesa}" />
												<f:ajax execute="@this" render="formCriarPedido" />
											</h:commandLink></td>
									</ui:repeat>
								</tr>
							</table>
						</div>
						<div class="table-responsive" style="border: 0; margin-top: 5px">
							<table>
								<tr>
									<ui:repeat value="#{mesaBean.mesas}" var="mesa"
										offset="#{mesaBean.mesas.size() >= 40 ? 40 : mesaBean.mesas.size()}"
										size="#{mesaBean.mesas.size() >= 50 ? 50 : mesaBean.mesas.size()}">
										<td><h:commandLink
												onclick="$('#modalCriarPedido').modal('show');"
												immediate="true" disabled="#{mesa.ocupada}">
												<div align="center"
													style="background-color:#{mesa.getColor()};padding-top:2px; background-image: url(#{facesContext.externalContext.requestContextPath}/resources/img/pub-table.png); background-size: 90px 120px; height:120px; width:90px; margin-right:5px">
													<h:outputText value="#{mesa.numero}"
														style="color: white; font-weight: bold; font-size:18px;" />
													<div
														style="width: 20px; height: 30px; margin-top: 66px; margin-left: 65px">
														<h:outputText value="#{mesa.capacidade}"
															style="color:white; font-weight: bold; font-size:18px; padding-top:20px" />
													</div>
												</div>
												<f:setPropertyActionListener
													target="#{pedidoBean.pedido.mesa}" value="#{mesa}" />
												<f:ajax execute="@this" render="formCriarPedido" />
											</h:commandLink></td>
									</ui:repeat>
								</tr>
							</table>
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL CRIAÇÃO PEDIDO -->
	<div id="modalCriarPedido" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border">
											<h3 class="box-title">Criar Pedido</h3>
										</div>
										<h:form id="formCriarPedido">
											<h:outputScript>
												$(".mascara-real").maskMoney({
													prefix: "R$",
													decimal: ",",
													thousands: "."
												});
											</h:outputScript>
											<div class="box-body">
												<h:messages layout="table" errorClass="text-danger"
													infoClass="text-success" style="font-size: 1.2em" />
												<div class="form-group">
													<label for="itMesa">Número da Mesa</label>
													<h:inputText disabled="true"
														value="#{pedidoBean.pedido.mesa.numero}" id="itMesa"
														styleClass="form-control mascara-numero-mesa input-jadson"
														required="true" />
												</div>
												<div class="form-group controls">
													<label for="itNome">Nome do Cliente</label>
													<h:inputText value="#{pedidoBean.pedido.nomeCliente}"
														id="itNome" styleClass="form-control input-jadson"
														a:placeholder="Ex: João Batista">
													</h:inputText>
												</div>
												<div class="form-group controls">
													<label for="itTaxa">Taxa adicional</label>
													<h:inputText value="#{pedidoBean.pedido.taxa}" id="itTaxa"
														styleClass="form-control mascara-real input-jadson"
														a:placeholder="Adicione algum valor aqui apenas se houver">
														<f:convertNumber maxFractionDigits="2" groupingUsed="true"
															maxIntegerDigits="14" type="currency" currencySymbol="R$"
															pattern="R$#,##0.00" locale="pt_BR" />
													</h:inputText>
												</div>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Cadastrar"
													styleClass="btn btn-danger"
													action="#{pedidoBean.cadastrar}">
													<f:ajax event="action" execute="formCriarPedido"
														render="formCriarPedido formSelecionarMesa formListarPedidosAbertos" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalCriarPedido').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui:composition>
</html>