<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition>
	<div class="main-panel">
		<!-- MENU SUPERIOR -->
		<nav class="navbar navbar-transparent navbar-absolute">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand"> Pedidos </a>
				</div>				
			</div>
		</nav>
		<div id="content" style="margin-top: 60px">
			<div class="container-fluid">				
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="card card-nav-tabs">
							<div class="card-header" data-background-color="red">
								<div class="nav-tabs-navigation">
									<div class="nav-tabs-wrapper">
										<!--<span class="nav-tabs-title">Ações:</span>-->
										<ul class="nav nav-tabs" data-tabs="tabs">
											<h:panelGroup rendered="#{!dashboardBean.isCozinheiro()}"><li class="active"><a href="#cadastrar" data-toggle="tab">
													<i class="material-icons">playlist_add</i> Criar
													<div class="ripple-container"></div>
											</a></li></h:panelGroup>
											<h:panelGroup rendered="#{!dashboardBean.isCozinheiro()}"><li class=""><a href="#listar" data-toggle="tab">
													<i class="material-icons">content_paste</i> Abertos
													<div class="ripple-container"></div>
											</a></li></h:panelGroup>
											<h:panelGroup rendered="#{!dashboardBean.isCozinheiro()}"><li class=""><a href="#listar2" data-toggle="tab">
													<i class="material-icons">playlist_add_check</i> Fechados
													<div class="ripple-container"></div>
											</a></li></h:panelGroup>
											<h:panelGroup rendered="#{dashboardBean.isGerenteOrCozinheiro()}"><li class="#{dashboardBean.isCozinheiro() == true ? 'active' : ''}"><a href="#cozinha" data-toggle="tab">
													<i class="material-icons">kitchen</i> Cozinha
													<div class="ripple-container"></div>
											</a></li></h:panelGroup>
										</ul>
									</div>
								</div>
							</div>
							<div class="card-content">
								<div class="tab-content">								
									<h:panelGroup rendered="#{!dashboardBean.isCozinheiro()}" styleClass="tab-pane active" id="cadastrar" layout="block">
										<ui:include src="/WEB-INF/pedidos/criar_pedido.xhtml"></ui:include>
									</h:panelGroup>
									<h:panelGroup rendered="#{!dashboardBean.isCozinheiro()}" styleClass="tab-pane" id="listar" layout="block">									
										<ui:include src="/WEB-INF/pedidos/pedidos_abertos.xhtml" />
									</h:panelGroup>
									<h:panelGroup rendered="#{!dashboardBean.isCozinheiro()}" styleClass="tab-pane" id="listar2" layout="block">																		
										<ui:include src="/WEB-INF/pedidos/pedidos_fechados.xhtml" />
									</h:panelGroup>										
									<h:panelGroup rendered="#{dashboardBean.isGerenteOrCozinheiro()}" styleClass="tab-pane #{dashboardBean.isCozinheiro() == true ? 'active' : ''}" id="cozinha" layout="block">									
										<ui:include src="/WEB-INF/pedidos/cozinha.xhtml" />
									</h:panelGroup>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>

</ui:composition>
</html>