<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:f="http://xmlns.jcp.org/jsf/core"
		xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
		>
<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Pedidos Fechados</h3>
				</div>
				<h:form id="formListarPedidosFechados">
					<div class="box-body table-responsive">
						<h:dataTable
							styleClass="table table-bordered table-striped"
							id="tabelaListarMesas" border="1" var="pedido"
							value="#{pedidoBean.pedidosFechados}">
							<h:column>
								<f:facet name="header">Número</f:facet>
								<div align="center">
									<h:outputText value="##{pedido.idPedido}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Cliente</f:facet>
								<div align="center">
									<h:outputText value="#{pedido.nomeCliente.length() == 0 ? ' - ' : pedido.nomeCliente}" />
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Mesa</f:facet>
								<div align="center">
									<h:outputText value="#{pedido.mesa.numero}" />
								</div>
							</h:column>							
							<h:column>
								<f:facet name="header">Data de Abertura</f:facet>
								<div align="center">
									<h:outputText value="#{pedido.dataAbertura}">
										<f:convertDateTime pattern="HH:mm dd/MM/yyyy" timeZone="#{initParam.timezone}"/>
									</h:outputText>
								</div>
							</h:column>	
							<h:column>
								<f:facet name="header">Data de Fechamento</f:facet>
								<div align="center">
									<h:outputText value="#{pedido.dataFechamento}" >
										<f:convertDateTime pattern="HH:mm dd/MM/yyyy" timeZone="#{initParam.timezone}"/>
									</h:outputText>
								</div>
							</h:column>							
							<h:column>
								<f:facet name="header">Valor</f:facet>
								<div align="center">
									<h:outputText value="R$ "/>
									<h:outputText value="#{pedido.valorPago}">
										<f:convertNumber maxFractionDigits="2" minFractionDigits="2"/>
									</h:outputText>			
								</div>
							</h:column>	
							<!-- <h:column>							
								<f:facet name="header">Ações</f:facet>
								<div align="center">	
									<h:commandLink>
										<i class="material-icons">search</i>
									</h:commandLink>									
								</div>
							</h:column> -->
						</h:dataTable>
					</div>
				</h:form>
			</div>
		</div>
	</div>
</ui:composition>
</html>