<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Pedidos Abertos</h3>
				</div>
				<h:form id="formListarPedidosAbertos">
					<div class="box-body table-responsive">
						<h:dataTable styleClass="table table-bordered table-striped"
							id="tabelaListarMesas" border="1" var="pedido"
							value="#{pedidoBean.pedidosAbertos}">
							<h:column>
								<f:facet name="header">Mesa</f:facet>
								<div align="center">
									<h:commandLink onclick="$('#modalOpcoesPedido').modal('show');"
										immediate="true">
										<div align="center"
											style="background-image: url(#{facesContext.externalContext.requestContextPath}/resources/img/pub-table.png); background-size: 90px 120px; height: 120px; width: 90px">
											<h:outputText value="#{pedido.mesa.numero}"
												style="color: white; font-weight: bold; font-size:18px;" />
										</div>
										<f:setPropertyActionListener
											target="#{pedidoBean.pedidoSelecionado}" value="#{pedido}" />
										<f:ajax execute="@this" render=":formOpcoesPedido" />
									</h:commandLink>
								</div>
							</h:column>
							<h:column>
								<f:facet name="header">Cliente</f:facet>
								<div align="center">
									<h:outputText
										value="#{pedido.nomeCliente.length() == 0 ? ' - ' : pedido.nomeCliente}" />
								</div>
							</h:column>
						</h:dataTable>
					</div>
					<p:poll interval="10"
						listener="#{pedidoBean.atualizarPedidosAbertos}"
						update="formListarPedidosAbertos formOpcoesPedido" />
				</h:form>
			</div>
		</div>
	</div>
	<!-- MODAL OPÇÕES PEDIDO -->
	<div id="modalOpcoesPedido" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog" style="width: 95%;">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<h:form id="formOpcoesPedido">
											<div class="box-header with-border">
												<div align="left" class="col-md-4 col-sm-4 col-xs-4">
													<h:commandLink rendered="#{!dashboardBean.isCaixa()}"
														onclick="$('#modalAdicionarItem').modal('show');"
														immediate="true">
														<i class="material-icons">add</i>
														<f:ajax execute="@this" render=":formAdicionarPedido" />
													</h:commandLink>
													<h:commandLink
														onclick="$('#modalFecharPedido').modal('show');"
														immediate="true"
														rendered="#{pedidoBean.pedidoSelecionado.subTotal()!=0 ? true : false}">
														<i class="material-icons">done</i>
														<f:ajax execute="@this" render=":formFecharPedido" />
													</h:commandLink>
													<h:commandLink
														onclick="$('#modalCancelarPedido').modal('show');"
														immediate="true"
														rendered="#{pedidoBean.pedidoSelecionado.subTotal()==0 ? true : false}">
														<i class="material-icons">cancel</i>
														<f:ajax execute="@this" render=":formCancelarPedido" />
													</h:commandLink>
												</div>
												<div align="center" class="col-md-4 col-sm-4 col-xs-4"
													style="display: inline-block; vertical-align: top;">
													<h3 class="box-title" style="margin-top: -8px">Mesa
														#{pedidoBean.pedidoSelecionado.mesa.numero}</h3>
												</div>
												<div align="right" class="col-md-4 col-sm-4 col-xs-4"
													style="display: inline-block; vertical-align: top;">
													<button data-dismiss="modal" class="close" type="button"
														style="margin-top: -20px">
														<span aria-hidden="true" class="text-danger h2">×</span> <span
															class="sr-only">Close</span>
													</button>
												</div>
											</div>
											<div class="box-body">
												<!-- <div class="table-responsive" style="background-color: blue"> -->
												<h:dataTable id="tabelaItensDoPedido"
													styleClass="table table-bordered table-striped" border="1"
													var="item" value="#{pedidoBean.pedidoSelecionado.itens}">
													<h:column>
														<f:facet name="header">Item</f:facet>
														<div align="center">
															<h:outputText
																styleClass="#{item.entregue == false ? 'text-danger' : 'text-success'}"
																value="#{item.produto.nome}" />
														</div>
													</h:column>
													<h:column>
														<f:facet name="header">Quantidade</f:facet>
														<div align="center">
															<h:outputText
																styleClass="#{item.entregue == false ? 'text-danger' : 'text-success'}"
																value="#{item.quantidade}" />
														</div>
													</h:column>
													<h:column>
														<f:facet name="header">Preço</f:facet>
														<div align="center">
															<h:outputText
																styleClass="#{item.entregue == false ? 'text-danger' : 'text-success'}"
																value="R$ " />
															<h:outputText
																styleClass="#{item.entregue == false ? 'text-danger' : 'text-success'}"
																value="#{item.produto.valorVenda*item.quantidade}">
																<f:convertNumber maxFractionDigits="2"
																	minFractionDigits="2" />
															</h:outputText>
														</div>
													</h:column>
													<h:column>
														<f:facet name="header">Ações</f:facet>
														<h:panelGroup rendered="#{!dashboardBean.isCaixa()}">
															<div align="center">
																<h:commandLink
																	onclick="$('#modalExcluirItem').modal('show');"
																	immediate="true" rendered="#{!item.entregue}">
																	<i class="material-icons">cancel</i>
																	<f:setPropertyActionListener
																		target="#{pedidoBean.itemSelecionado}" value="#{item}" />
																	<f:ajax execute="@this" render=":formExcluirItem" />
																</h:commandLink>
																<h:commandLink
																	onclick="$('#modalEntregarItem').modal('show');"
																	immediate="true" rendered="#{item.isEntregavel()}">
																	<i class="material-icons">check_circle</i>
																	<f:setPropertyActionListener
																		target="#{pedidoBean.itemSelecionado}" value="#{item}" />
																	<f:ajax execute="@this" render=":formEntregarItem" />
																</h:commandLink>
																<h:commandLink
																	onclick="$('#modalEditarItem').modal('show');"
																	immediate="true">
																	<i class="material-icons">edit</i>
																	<f:setPropertyActionListener
																		target="#{pedidoBean.itemSelecionado}" value="#{item}" />
																	<f:ajax execute="@this" render=":formEditarItem" />
																</h:commandLink>
															</div>
														</h:panelGroup>
													</h:column>
													<f:facet name="footer">
														<div align="left">
															<h:outputText styleClass="h6 text-danger"
																value="Subtotal: R$ " />
															<h:outputText styleClass="h6 text-danger"
																value="#{pedidoBean.pedidoSelecionado.subTotal()}">
																<f:convertNumber maxFractionDigits="2"
																	minFractionDigits="2" />
															</h:outputText>
															<br />
															<h:outputText styleClass="h6 text-danger"
																value="Taxa: R$ " />
															<h:outputText styleClass="h6 text-danger"
																value="#{pedidoBean.pedidoSelecionado.taxa != null ? pedidoBean.pedidoSelecionado.taxa : '0,00'}">
																<f:convertNumber maxFractionDigits="2"
																	minFractionDigits="2" />
															</h:outputText>
															<br />
															<h:outputText styleClass="h6 text-danger"
																style="font-weight: bold;" value="Total: R$ " />
															<h:outputText styleClass="h6 text-danger"
																style="font-weight: bold;"
																value="#{pedidoBean.pedidoSelecionado.subTotal()+pedidoBean.pedidoSelecionado.taxa}">
																<f:convertNumber maxFractionDigits="2"
																	minFractionDigits="2" />
															</h:outputText>


														</div>
													</f:facet>

												</h:dataTable>
												<!-- </div> -->

											</div>
											<!-- <div class="box-footer" align="center">
												<h:commandButton value="Adicionar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalOpcoesPedido').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>												
											</div> -->
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL ADICIONAR ITEM -->
	<div id="modalAdicionarItem" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px;">
		<div class="modal-dialog" style="width: 95%">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="center">
											<h3 class="box-title">Escolha um item</h3>
										</div>
										<h:form id="formAdicionarItem">
											<div class="box-body">
												<h:selectOneMenu
													value="#{estoqueBean.tipoProdutoSelecionado}"
													styleClass="form-control" id="smTipo" required="true"
													converter="tipoProdutoConverter">
													<f:selectItem itemLabel="Todas as categorias"
														itemValue="#{null}" noSelectionOption="true"
														itemDisabled="true" />
													<f:selectItems value="#{estoqueBean.tiposProduto}"
														var="tipo" itemLabel="#{tipo.tipo}" itemValue="#{tipo}" />
													<f:ajax listener="#{estoqueBean.filtrarItens()}"
														render=":formAdicionarItem:tabelaAdicionarItem" />
												</h:selectOneMenu>

												<h:dataTable styleClass="table table-bordered table-striped"
													id="tabelaAdicionarItem" border="1" var="produto"
													value="#{estoqueBean.produtos}">
													<h:column>
														<f:facet name="header">Nome</f:facet>
														<div align="center">
															<h:outputText
																styleClass="#{produto.isDisponivel() == false ? 'text-danger' : ''}"
																value="#{produto.nome}" />
														</div>
													</h:column>
													<h:column>
														<f:facet name="header">Preço</f:facet>
														<div align="center">
															<h:outputText
																styleClass="#{produto.isDisponivel() == false ? 'text-danger' : ''}"
																value="R$ " />
															<h:outputText
																styleClass="#{produto.isDisponivel() == false ? 'text-danger' : ''}"
																value="#{produto.valorVenda}">
																<f:convertNumber maxFractionDigits="2"
																	minFractionDigits="2" />
															</h:outputText>
														</div>
													</h:column>
													<h:column>
														<!-- <f:facet name="header">Ações</f:facet> -->
														<div align="center">
															<h:commandLink
																onclick="$('#modalQuantidadeItem').modal('show');"
																immediate="true" rendered="#{produto.isDisponivel()}">
																<i class="material-icons">add</i>
																<f:setPropertyActionListener
																	target="#{pedidoBean.item.produto}" value="#{produto}" />
																<f:ajax execute="@this" render=":formQuantidadeItem" />
															</h:commandLink>
														</div>
													</h:column>
												</h:dataTable>
												<!-- </div> -->
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Fechar" styleClass="btn btn-danger"
													style="margin-left:10px"
													onclick="$('#modalAdicionarItem').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL QUANTIDADE ITEM -->
	<div id="modalQuantidadeItem" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog" style="width: 95%">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="center">
											<h3 class="box-title">Escolha a quantidade</h3>
										</div>
										<h:form id="formQuantidadeItem">
											<div class="box-body" align="center">
												<h5>#{pedidoBean.item.produto.nome}</h5>
												<h:messages layout="table" errorClass="text-danger"
													infoClass="text-success" style="font-size: 1.2em" />
												<!-- <p class="range-field">
													<input type="range" id="itquantidade" min="0" max="100" style="width: 75%"/>
												</p> -->
												<div class="form-group">
													<p:inputMask mask="999"
														value="#{pedidoBean.item.quantidade}" id="itQuantidade"
														styleClass="form-control input-jadson" style="width:50%"
														placeholder="Ex: 5" required="true"
														requiredMessage="Por favor, insira a quantidade de itens à ser adicionado">
														<f:convertNumber integerOnly="true" />
													</p:inputMask>
												</div>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Adicionar"
													styleClass="btn btn-danger"
													action="#{pedidoBean.adicionarItem}">
													<f:ajax event="action" execute="@form"
														render=":formQuantidadeItem :formOpcoesPedido :formListarPedidosAbertos :formListarProdutos" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger"
													onclick="$('#modalQuantidadeItem').modal('hide');$('#modalAdicionarItem').modal('hide');">
													<f:ajax execute="@none"
														render=":formQuantidadeItem :formOpcoesPedido :formListarPedidosAbertos :formFecharPedido" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL EXCLUIR ITEM -->
	<div id="modalExcluirItem" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border">
											<h3 class="box-title">Excluir Item</h3>
										</div>
										<h:form id="formExcluirItem">
											<div class="box-body">
												<h5>
													Deseja realmente excluir o item <strong>#{pedidoBean.itemSelecionado.produto.nome}</strong>
													?
												</h5>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Excluir" styleClass="btn btn-danger"
													action="#{pedidoBean.excluirItem}">
													<f:ajax event="action" execute="@this"
														render=":formOpcoesPedido :formListarPedidosAbertos :formFecharPedido" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalExcluirItem').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL ENTREGAR ITEM -->
	<div id="modalEntregarItem" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border">
											<h3 class="box-title">Entregar Item</h3>
										</div>
										<h:form id="formEntregarItem">
											<div class="box-body">
												<h5>
													Deseja realmente entregar o item <strong>#{pedidoBean.itemSelecionado.produto.nome}</strong>
													?
												</h5>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Confirmar"
													styleClass="btn btn-danger"
													action="#{pedidoBean.entregarItem}">
													<f:ajax event="action" execute="@this"
														render=":formOpcoesPedido :formListarPedidosAbertos :formFecharPedido" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalEntregarItem').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL EDITAR ITEM -->
	<div id="modalEditarItem" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="center">
											<h3 class="box-title">Editar Item</h3>
										</div>
										<h:form id="formEditarItem">
											<div class="box-body" align="center">
												<h5>#{pedidoBean.itemSelecionado.produto.nome}</h5>
												<h:messages layout="table" errorClass="text-danger"
													infoClass="text-success" style="font-size: 1.2em" />
												<!-- <p class="range-field">
													<input type="range" id="itquantidade" min="0" max="100" style="width: 75%"/>
												</p> -->
												<h:panelGroup styleClass="form-group" layout="block"
													rendered="#{!pedidoBean.itemSelecionado.entregue}">
													<!-- 	<div class="form-group"> -->
													<label>Quantidade</label>
													<h:inputText type="number" min="1"
														value="#{pedidoBean.itemSelecionado.quantidade}"
														id="itQuantidade"
														styleClass="form-control mascara-numero-mesa input-jadson"
														style="width:50%" a:placeholder="Ex: 5" required="true"
														requiredMessage="Por favor, insira a quantidade do item">
														<f:convertNumber integerOnly="true" />
													</h:inputText>
													<!-- </div> -->
												</h:panelGroup>
												<div class="form-group">
													<label>Entregue?</label>
													<h:selectBooleanCheckbox
														value="#{pedidoBean.itemSelecionado.entregue}"
														styleClass="form-control" style="width:25px" />

												</div>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Salvar" styleClass="btn btn-danger"
													action="#{pedidoBean.editarItem}">
													<f:ajax event="action" execute="@form"
														render=":formEditarItem :formOpcoesPedido :formListarPedidosAbertos :formFecharPedido" />
												</h:commandButton>
												<h:commandButton value="Fechar" styleClass="btn btn-danger"
													onclick="$('#modalEditarItem').modal('hide');">
													<f:ajax execute="@none"
														render=":formEditarItem :formOpcoesPedido" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL FECHAR PEDIDO -->
	<div id="modalFecharPedido" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<h:form id="formFecharPedido">
											<h:outputScript>
												$(".mascara-real").maskMoney({
													prefix: "R$",
													decimal: ",",
													thousands: "."
												});
											</h:outputScript>
											<div class="box-header with-border" align="center">
												<h3 class="box-title">Fechar Pedido</h3>
												<h5>Pedido ##{pedidoBean.pedidoSelecionado.idPedido}
													#{pedidoBean.pedidoSelecionado.nomeCliente.length() == 0 ?
													'' : (pedidoBean.pedidoSelecionado.nomeCliente)}</h5>
												<h:panelGroup>
													<h6></h6>
													<h:outputText styleClass="h6 text-danger"
														style="font-weight: bold;" value="Total: R$ " />
													<h:outputText styleClass="h6 text-danger"
														style="font-weight: bold;"
														value="#{pedidoBean.pedidoSelecionado.subTotal()+pedidoBean.pedidoSelecionado.taxa}">
														<f:convertNumber maxFractionDigits="2"
															minFractionDigits="2" />
													</h:outputText>
												</h:panelGroup>
											</div>
											<div class="box-body">
												<div class="form-group controls">
													<label>Forma de pagamento</label>
													<h:selectOneMenu
														value="#{pedidoBean.pedidoSelecionado.formaPagamento}"
														required="true" styleClass="form-control">
														<f:selectItems value="#{pedidoBean.getTiposPagamento()}"
															var="formaPagamento" itemLabel="#{formaPagamento.nome}"
															itemValue="#{formaPagamento}" />
													</h:selectOneMenu>
												</div>
												<div class="form-group controls">
													<label>Valor de Desconto</label>
													<h:inputText
														value="#{pedidoBean.pedidoSelecionado.valorDesconto}"
														id="itValorVenda" styleClass="form-control mascara-real"
														a:placeholder="Ex: R$10,00">
														<f:convertNumber maxFractionDigits="2" groupingUsed="true"
															maxIntegerDigits="14" type="currency" currencySymbol="R$"
															pattern="R$#,##0.00" locale="pt_BR" />
													</h:inputText>
												</div>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Confirmar"
													styleClass="btn btn-danger"
													action="#{pedidoBean.fecharPedido}"
													actionListener="#{mesaBean.limpar()}">
													<f:ajax event="action" execute="formFecharPedido"
														render=":formOpcoesPedido :formListarPedidosAbertos :formSelecionarMesa :formListarPedidosFechados" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalFecharPedido').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL CANCELAR PEDIDO -->
	<div id="modalCancelarPedido" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="center">
											<h3 class="box-title">Cancelar Pedido</h3>
										</div>
										<h:form id="formCancelarPedido">
											<div class="box-body" align="center">
												<h5>
													Deseja realmente cancelar o pedido da mesa <strong>#{pedidoBean.pedidoSelecionado.mesa.numero}</strong>
													?
												</h5>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Confirmar"
													styleClass="btn btn-danger"
													action="#{pedidoBean.cancelarPedido}"
													actionListener="#{mesaBean.limpar()}">
													<f:ajax event="action" execute="@this"
														render=":formOpcoesPedido :formListarPedidosAbertos :formSelecionarMesa :formListarPedidosFechados" />
												</h:commandButton>
												<h:commandButton value="Cancelar"
													styleClass="btn btn-danger" style="margin-left:10px"
													onclick="$('#modalCancelarPedido').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui:composition>
</html>