<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<meta charset="utf-8" />
	<!-- COMPATIBILIDA EDGE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- CONFIGURAÇÃO MOBILE -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
	<!-- COR DA BARRA CHROME -->
	<meta name="theme-color" content="#1A2226" />
	<!-- ÍCONE BARRA -->
	<link rel="icon" type="imagem/png"
		href="#{resource['/img/r-vermelho.png']}" />
	<!-- TÍTULO DA PÁGINA -->
	<title>Rango | Gerenciador de Estabelecimentos Alimentícios</title>
	<!-- CSS BOOTSTRAP-->
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<!-- CSS DO TEMPLATE -->
	<h:outputStylesheet library="css" name="freelancer.min.css" />
	<!-- CSS DE PERSONALIZAÇÃO -->
	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="montserrat.css" />
	<h:outputStylesheet library="css" name="lato.css" />
	<h:outputStylesheet library="css" name="jadson.css" />
	<!-- JAVASCRIPT -->
	<h:outputScript library="js" name="jquery.min.js" target="body" />
	<h:outputScript library="js" name="bootstrap.min.js" target="body" />
	<h:outputScript library="js" name="jquery.easing.min.js" target="body" />
	<h:outputScript library="js" name="freelancer.min.js" target="body" />
	<h:outputScript library="js" name="jquery.mask.js" target="body" />
	<h:outputScript library="js" name="jadson.js" target="body" />
</h:head>

<h:body id="page-top" styleClass="index">

	<!-- BARRA SUPERIOR -->
	<nav id="mainNav"
		class="navbar navbar-default navbar-fixed-top navbar-custom">
		<div class="container">
			<!-- VISUALIZAÇÃO MOBILE -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="#page-top"><img
					class="icone-r-menu"
					src="#{facesContext.externalContext.requestContextPath}/resources/img/r-branco.png"
					onmouseover="this.src='#{facesContext.externalContext.requestContextPath}/resources/img/r-vermelho.png'"
					onmouseout="this.src='#{facesContext.externalContext.requestContextPath}/resources/img/r-branco.png'"
					alt="" /></a>
			</div>

			<!-- ITENS DE NAVEGAÇÃO -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden"><a href="#page-top"></a></li>
					<li class="page-scroll"><a href="#cadastros">Cadastros</a></li>
					<li class="page-scroll"><a href="#estabelecimentos">Estabelecimentos</a>
					</li>
					<li class="page-scroll"><a href="#pagamentos">Pagamentos</a></li>
					<li class="page-scroll"><a href="#status">Status</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- SEÇÃO CADASTROS -->
	<section id="cadastros">
		<div class="container" align="center">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Cadastros</h2>
					<hr class="star-primary" />
				</div>
			</div>
			<div class="table-responsive">
				<h:messages errorClass="text-danger" style="font-size: 1.2em"></h:messages>
				<h:form id="formCadastro">
					<h:dataTable styleClass="table table-bordered table-striped"
						id="dataTableCadastros" border="1" var="cadastro"
						value="#{adminBean.cadastros}">
						<h:column>
							<f:facet name="header">ID</f:facet>
							<div align="center">
								<h:outputText value="#{cadastro.idCadastro}" />
							</div>
						</h:column>
						<h:column>
							<f:facet name="header">Nome</f:facet>
							<div align="center">
								<h:outputText value="#{cadastro.nome}" />
							</div>
						</h:column>
						<h:column>
							<f:facet name="header">Email</f:facet>
							<div align="center">
								<h:outputText value="#{cadastro.email}" />
							</div>
						</h:column>
						<h:column>
							<f:facet name="header">Telefone</f:facet>
							<div align="center">
								<h:outputText value="#{cadastro.telefone}">
									<f:converter converterId="telefoneConverter" />
								</h:outputText>
							</div>
						</h:column>
						<h:column>
							<f:facet name="header">Pago</f:facet>
							<div align="center">
								<h:outputText value="#{cadastro.pago}">
									<f:converter converterId="booleanConverter" />
								</h:outputText>
							</div>
						</h:column>
						<h:column>
							<f:facet name="header">Ações</f:facet>
							<div align="center">

								<h:commandLink style="margin-right:5px">
									<i class="fa fa-pencil"></i>
									<f:setPropertyActionListener value="#{cadastro}"
										target="#{adminBean.cadastroSelecionado}" />
								</h:commandLink>

								<h:commandLink action="#{adminBean.removerCadastro()}"
									style="margin-right:5px">
									<f:setPropertyActionListener value="#{cadastro}"
										target="#{adminBean.cadastroSelecionado}" />
									<i class="fa fa-times"></i>
								</h:commandLink>
								
								<h:commandLink
									action="#{adminBean.confirmarPagamentoCadastro()}">
									<i class="fa fa-check"></i>
									<f:setPropertyActionListener value="#{cadastro}"
										target="#{adminBean.cadastroSelecionado}" />
								</h:commandLink>
							</div>
						</h:column>
					</h:dataTable>
					<!-- Modal Excluir Cadastro  AINDA NÃO FUNCIONA-->
					<div id="modalExcluirCadastro" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<!-- Conteúdo do Modal -->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">x</button>
									<h4 class="modal-title">Excluir cadastro</h4>
								</div>
								<div class="modal-body">
									<p>Tem certeza que deseja apagar o cadastro de
										#{adminBean.cadastroSelecionado.nome}</p>
								</div>
								<div class="modal-footer">
									<label class="col-xs-3 col-sm-4 control-label"></label>
									<div class="col-xs-6 col-sm-4 center-block ">
										<h:commandButton value="Apagar"
											class="btn btn-block botao-cinza"
											action="#{adminBean.removerCadastro()}" />
									</div>
									<label class="col-xs-3 col-sm-4 control-label"></label>
								</div>
							</div>
						</div>
					</div>					
				</h:form>
			</div>
		</div>
	</section>

	<!-- SEÇÃO ESTABELECIMENTOS -->
	<section id="estabelecimentos">
		<div class="container" align="center">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Estabelecimentos</h2>
					<hr class="star-primary" />
				</div>
			</div>
			<div class="table-responsive">
				<h:form id="formEstabelecimento">
					<h:dataTable styleClass="table table-bordered table-striped"
						id="dataTableEstabelecimentos" border="1" var="e"
						value="#{adminBean.estabelecimentos}">
						<h:column>
							<f:facet name="header">Nome</f:facet>
							<div align="center">
								<h:outputText value="#{e.nome}" />
							</div>
						</h:column>						
						<h:column>
							<f:facet name="header">Telefone</f:facet>
							<div align="center">
								<h:outputText value="#{e.telefone}" />
							</div>
						</h:column>
						<h:column>
							<f:facet name="header">Aberto</f:facet>
							<div align="center">
								<h:outputText value="#{e.aberto}">
									<f:converter converterId="booleanConverter" />
								</h:outputText>
							</div>
						</h:column>
						<h:column>
							<f:facet name="header">Ações</f:facet>
							<div align="center">
								<h:commandLink style="margin-right:5px">
									<i class="fa fa-pencil"></i>
								</h:commandLink>
								<h:commandLink style="margin-right:5px">
									<i class="fa fa-times"></i>
								</h:commandLink>
								<h:commandLink>
									<i class="fa fa-check"></i>
								</h:commandLink>
							</div>
						</h:column>
					</h:dataTable>
				</h:form>
			</div>
		</div>
	</section>

	<!-- SEÇÃO PAGAMENTOS -->
	<section id="pagamentos">
		<div class="container" align="center">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Pagamentos</h2>
					<hr class="star-primary" />
				</div>
			</div>
		</div>
	</section>

	<!-- SEÇÃO STATUS -->
	<section id="status">
		<div class="container" align="center">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Status</h2>
					<hr class="star-primary" />
				</div>
			</div>
		</div>
	</section>

</h:body>
</html>