<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:f="http://xmlns.jcp.org/jsf/core"
		xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
		>
		
	<div class="content-wrapper" id="conteudo">
    	<!-- Exibição de Navegação -->
    	<section class="content-header">
      		<h1>
	        Dashboard<small>Estabelecimento</small>
      		</h1>      
    	</section>

	    <!-- Conteúdo Principal -->
	    <div class="content">
	    	<h:outputLabel>Controle de Caixa</h:outputLabel>	    
	    </div>   
  	</div>			
		
</html>