<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition>
<div class="main-panel">
		<!-- MENU SUPERIOR -->
		<nav class="navbar navbar-transparent navbar-absolute">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand"> Estabelecimento </a>
				</div>				
			</div>
		</nav>
		<div id="content" style="margin-top: 60px">
			<div class="container-fluid">				
				<div class="row">
					<div class="col-lg-10 col-md-12">
						<div class="card card-nav-tabs">
							<div class="card-header" data-background-color="red">
								<div class="nav-tabs-navigation">
									<div class="nav-tabs-wrapper">
										<!--<span class="nav-tabs-title">Ações:</span>-->
										<ul class="nav nav-tabs" data-tabs="tabs">
											<li class="active"><a href="#informacoes" data-toggle="tab">
													<i class="material-icons">note_add</i> Informações
													<div class="ripple-container"></div>
											</a></li>
											<!-- <li class=""><a href="#caixa" data-toggle="tab">
													<i class="material-icons">sort</i> Caixa
													<div class="ripple-container"></div>
											</a></li>
											<li class=""><a href="#regras" data-toggle="tab">
													<i class="material-icons">add_box</i> Regras
													<div class="ripple-container"></div>
											</a></li>
											<li class=""><a href="relatorios" data-toggle="tab">
													<i class="material-icons">sort</i> Relatórios
													<div class="ripple-container"></div>
											</a></li>			 -->								
										</ul>
									</div>
								</div>
							</div>
							<div class="card-content">
								<div class="tab-content">								
									<div class="tab-pane active" id="informacoes">
										<ui:include src="/WEB-INF/estabelecimento/informacoes_basicas.xhtml"></ui:include>
									</div>
									
									<!-- <div class="tab-pane" id="caixa">
										<ui:include src="/WEB-INF/estabelecimento/controle_caixa.xhtml" />
									</div>
									
									<div class="tab-pane" id="regras">
										<ui:include src="/WEB-INF/estabelecimento/regras_negocio.xhtml"></ui:include>
									</div>
									
									<div class="tab-pane" id="relatorios">
										<ui:include src="/WEB-INF/estabelecimento/relatorios.xhtml" />
									</div>								 -->
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</ui:composition>
</html>