<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">Informações Básicas</h3>
				</div>
				<h:form id="formInformacoesBasicas">
					<div class="box-body">
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="card">
									<div class="card-content">
										<p class="category">Nome:</p>
										<h:commandLink rel="tooltip" title="Editar"
											style="position:absolute; right:0; top:0"
											onclick="$('#modalEditarNomeEstabelecimento').modal('show');"
											immediate="true">
											<i class="material-icons">edit</i>
											<f:ajax execute="@this"
												render=":formEditarNomeEstabelecimento" />
										</h:commandLink>
										<h5 class="title ">#{estabelecimentoBean.estabelecimento.nome}</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="card">
									<div class="card-content">
										<p class="category">Telefone:</p>
										<h:commandLink rel="tooltip" title="Editar"
											style="position:absolute; right:0; top:0"
											onclick="$('#modalEditarTelefoneEstabelecimento').modal('show');"
											immediate="true">
											<i class="material-icons">edit</i>
											<f:ajax execute="@this"
												render=":formEditarTelefoneEstabelecimento" />
										</h:commandLink>
										<h5 class="title mascara-telefone">#{estabelecimentoBean.estabelecimento.telefone}</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="card">
									<div class="card-content">
										<p class="category">Delivery:</p>
										<h:commandLink action="#{estabelecimentoBean.switchDelivery}"
											rel="tooltip"
											title="#{estabelecimentoBean.estabelecimento.aberto == true ? 'Desativar' : 'Ativar'}"
											style="position:absolute; right:0; top:0">
											<i class="material-icons">#{estabelecimentoBean.estabelecimento.aberto
												== true ? 'close' : 'done'}</i>
										</h:commandLink>
										<h5 class="title">#{estabelecimentoBean.estabelecimento.aberto
											== true ? 'Ativo' : 'Inativo'}</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</h:form>
			</div>
		</div>
	</div>
	<!-- MODAL EDITAR NOME -->
	<div id="modalEditarNomeEstabelecimento" class="modal fade"
		role="dialog" data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border">
											<h3 class="box-title">Editar Nome</h3>
										</div>
										<h:form id="formEditarNomeEstabelecimento">
											<div class="box-body">
												<h:messages layout="table" errorClass="text-danger"
													infoClass="text-success" style="font-size: 1.2em" />
												<div class="form-group">
													<label for="itNome">Nome do Estabelecimento</label>
													<h:inputText
														value="#{estabelecimentoBean.estabelecimento.nome}"
														id="itNome" styleClass="form-control input-jadson"
														required="true"></h:inputText>
												</div>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Salvar" styleClass="btn btn-danger"
													action="#{estabelecimentoBean.atualizar}">
													<f:ajax event="action"
														execute="formEditarNomeEstabelecimento"
														render="formEditarNomeEstabelecimento formInformacoesBasicas" />
												</h:commandButton>
												<h:commandButton value="Fechar" styleClass="btn btn-danger"
													style="margin-left:10px"
													onclick="$('#modalEditarNomeEstabelecimento').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL EDITAR TELEFONE -->
	<div id="modalEditarTelefoneEstabelecimento" class="modal fade"
		role="dialog" data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border">
											<h3 class="box-title">Editar Telefone</h3>
										</div>
										<h:form id="formEditarTelefoneEstabelecimento">
											<div class="box-body">
												<h:messages layout="table" errorClass="text-danger"
													infoClass="text-success" style="font-size: 1.2em" />
												<div class="form-group">
													<label for="itTelefone">Telefone do Estabelecimento</label>
													<h:inputText
														value="#{estabelecimentoBean.estabelecimento.telefone}"
														id="itTelefone"
														styleClass="form-control input-jadson mascara-telefone"
														required="true"></h:inputText>
												</div>
											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Salvar" styleClass="btn btn-danger"
													action="#{estabelecimentoBean.atualizar}">
													<f:ajax event="action"
														execute="formEditarTelefoneEstabelecimento"
														render="formEditarTelefoneEstabelecimento formInformacoesBasicas" />
												</h:commandButton>
												<h:commandButton value="Fechar" styleClass="btn btn-danger"
													style="margin-left:10px"
													onclick="$('#modalEditarTelefoneEstabelecimento').modal('hide');">
													<!-- <f:ajax event="action" execute="@this" render="@all" /> -->
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui:composition>

</html>