<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<ui:composition template="/WEB-INF/templates/__layoutPublico.xhtml">

	<f:metadata>
		<o:viewParam name="funcionario" value="#{cadastroInicialBean.funcionario}" converter="funcionarioConverter" required="true">
			<o:viewParamValidationFailed sendRedirect="#{request.contextPath}/" />
		</o:viewParam>
		<f:viewAction action="#{cadastroInicialBean.init()}" />
	</f:metadata>

	<ui:define name="title">Bem Vindo! | Rango</ui:define>

	<!-- CONTEÚDO -->
	<ui:define name="content">
		<section class="conteudo-inicial" id="cadastro">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<br></br>
						<h2>Bem Vindo!</h2>
						<hr class="star-primary" />
					</div>
					<div class="col-lg-12 text-center">
						<p style="font-size: 1.2em">
							A partir de agora iremos cadastrar sua informações e as
							informações do seu estabelecimento no nosso sistema.<br />
							Preencha todos os campos corretamente para que você e seus
							funcionários possam desfrutar de todas as nossas funcionalidades.
						</p>
					</div>
				</div>	
				<br/>			
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h:messages errorClass="text-danger" style="font-size: 1.2em" layout="table"></h:messages>							
						<h:form id="formCadastro">						
							<div class="col-xs-12 text-center">
								<h4>Informações do Gerente</h4>
							</div>
													
							<div class="row control-group">
								<div class="form-group col-xs-12 floating-label-form-group floating-label-form-group-with-value controls">
									<label>Nome do Gerente</label>
									<h:inputText styleClass="form-control"
										a:placeholder="Nome do Gerente" id="ItNomeDoGerente"
										required="true"
										requiredMessage="Por favor, insira o nome do gerente"
										value="#{cadastroInicialBean.funcionario.nome}">
										<f:validator validatorId="nomeValidator"/>
									</h:inputText>
									<p class="help-block text-danger"></p>
								</div>
							</div>
							
							<div class="row control-group">
								<div
									class="form-group col-xs-12 floating-label-form-group floating-label-form-group-with-value controls">
									<label>Email</label>
									<h:inputText styleClass="form-control" a:placeholder="Email"
										id="ItEmail" required="true"
										requiredMessage="Por favor, insira o email do gerente"
										value="#{cadastroInicialBean.funcionario.email}" >
										<f:validator validatorId="emailValidator"/>
									</h:inputText>
									<p class="help-block text-danger"></p>
								</div>
							</div>

							<div class="row control-group">
								<div
									class="form-group col-xs-12 floating-label-form-group floating-label-form-group-with-value controls">
									<label>CPF</label>
									<h:inputText styleClass="form-control mascara-cpf" a:placeholder="Seu CPF"
										id="ItCPF" required="true"
										requiredMessage="Por favor, insira seu CPF"
										value="#{cadastroInicialBean.funcionario.cpf}" >
										<f:converter converterId="cpfConverter"/>
										<f:validator validatorId="cpfValidator"/>
									</h:inputText>
									<p class="help-block text-danger"></p>
								</div>
							</div>
							
							<div class="row control-group">
								<div
									class="form-group col-xs-12 floating-label-form-group floating-label-form-group-with-value controls">
									<label>Telefone</label>
									<h:inputText styleClass="form-control mascara-telefone"
										a:placeholder="Telefone" id="ItTelefone" required="true"
										requiredMessage="Por favor, insira seu telefone"
										value="#{cadastroInicialBean.funcionario.telefone}">
										<f:converter converterId="telefoneConverter"></f:converter>
									</h:inputText>
									<p class="help-block text-danger"></p>
								</div>
							</div>
							
							<div class="row control-group">
								<div class="form-group col-xs-12 floating-label-form-group controls">
									<label>Login</label>
									<h:inputText styleClass="form-control"
										a:placeholder="Seu Login" id="ItLogin"
										required="true"
										requiredMessage="Por favor, insira o seu login"
										value="#{cadastroInicialBean.funcionario.login}" />
									<p class="help-block text-danger"></p>
								</div>
							</div>							
							
							<div class="row control-group">
								<div
									class="form-group col-xs-12 floating-label-form-group controls">
									<label>Senha</label>
									<h:inputSecret styleClass="form-control" a:placeholder="Sua senha"
										id="ItSenha" required="true"
										requiredMessage="Por favor, insira a senha"
										value="#{cadastroInicialBean.funcionario.senha}" />
									<p class="help-block text-danger"></p>
								</div>
							</div>
							
							<div class="row control-group">
								<div
									class="form-group col-xs-12 floating-label-form-group controls">
									<label>Confirmar Senha</label>
									<h:inputSecret styleClass="form-control" a:placeholder="Confirme sua senha"
										id="ItConfirmarSenha" required="true"
										requiredMessage="Por favor, confirme a senha"
										value="#{cadastroInicialBean.senha}" />
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<br/><br/>
							
							<div class="col-xs-12 text-center">
								<h4>Informações do Estabelecimento</h4>
							</div>
							
							<div class="row control-group">
								<div class="form-group col-xs-12 floating-label-form-group controls">
									<label>Nome do Estabelecimento</label>
									<h:inputText styleClass="form-control"
										a:placeholder="Nome do Estabelecimento" id="ItNomeDoEstabelecimento"
										required="true"
										requiredMessage="Por favor, insira o nome do estabelecimento"
										value="#{cadastroInicialBean.estabelecimento.nome}" />
									<p class="help-block text-danger"></p>
								</div>
							</div>
							
							<div class="row control-group">
								<div class="form-group col-xs-12 floating-label-form-group controls">
									<label>Telefone do Estabelecimento</label>
									<h:inputText styleClass="form-control mascara-telefone"
										a:placeholder="Telefone do Estabelecimento" id="ItTelefoneDoEstabelecimento"
										required="true"
										requiredMessage="Por favor, insira o telefone do estabelecimento"
										value="#{cadastroInicialBean.estabelecimento.telefone}" >
										<f:converter converterId="telefoneConverter"></f:converter>
									</h:inputText>
									<p class="help-block text-danger"></p>
								</div>
							</div>												
							
							<br/>
							<div id="success"></div>
							<div class="form-group">
								<div class="row">
									<label class="col-xs-3 col-sm-4 control-label"></label>
									<div class="col-xs-6 col-sm-4 center-block ">
										<h:commandButton id="btn-cadastrar" styleClass="btn btn-block botao-cinza"
											action="#{cadastroInicialBean.cadastrar}" value="Cadastrar">
											<!--  <f:param name="funcionario" value="jadson"></f:param>-->
										</h:commandButton>
									</div>
									<label class="col-xs-3 col-sm-4 control-label"></label>
								</div>
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</section>
	</ui:define>

</ui:composition>
</html>