<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


	<f:metadata>		
		<f:viewAction action="#{dashboardBean.init()}" />
	</f:metadata>

<h:head>
	<meta charset="utf-8" />
	<!-- ÍCONE BARRA -->
	<link rel="icon" type="imagem/png"
		href="#{resource['/img/r-vermelho.png']}" />
	<!-- COMPATIBILIDA EDGE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- TÍTULO DA PÁGINA -->
	<title>Rango | Gerenciador de Estabelecimentos Alimentícios</title>
	<!-- CONFIGURAÇÃO MOBILE -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
	<!-- COR DA BARRA CHROME -->
	<meta name="theme-color" content="#D12034" />
	<!-- CSS BOOTSTRAP-->
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<!--  Material Dashboard CSS    -->
	<h:outputStylesheet library="css" name="material-dashboard.css" />
	<!-- CSS DE PERSONALIZAÇÃO -->
	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="material-icons.css" />
	<h:outputStylesheet library="css" name="demo.css" />
	<h:outputStylesheet library="css" name="jadson.css" />
	<!-- JAVASCRIPT -->
	<h:outputScript library="js" name="jquery.min.js" target="body" />
	<h:outputScript library="js" name="bootstrap.min.js" target="body" />
	<h:outputScript library="js" name="material.min.js" target="body" />
	<h:outputScript library="js" name="chartist.min.js" target="body" />
	<h:outputScript library="js" name="arrive.min.js" target="body" />
	<h:outputScript library="js" name="perfect-scrollbar.jquery.min.js"	target="body" />
	<h:outputScript library="js" name="bootstrap-notify.js" target="body" />
	<h:outputScript library="js" name="material-dashboard.js" target="body" />
	<h:outputScript library="js" name="jquery.mask.js" target="body" />
	<h:outputScript library="js" name="jquery.maskMoney.min.js" target="body" />
	<h:outputScript library="js" name="graficos.js" target="body" />
	<h:outputScript library="js" name="demo.js" target="body" />
	<h:outputScript library="js" name="jadson.js" target="body" />

</h:head>

<h:body>
	<!-- MENUS-->
	<!-- MENU LATERAL -->
	<div class="wrapper">
		<h:form id="formDashboard">
			<div class="sidebar" data-color="red" style="background-color: white">
				<!--<div class="sidebar" data-color="red">-->
				<!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
        Tip 2: you can also add an image using data-image tag
    -->
				<div class="logo">
					<a
						href="#{facesContext.externalContext.requestContextPath}/index.xhtml"
						class="simple-text"> <img style="width: 5em"
						src="#{facesContext.externalContext.requestContextPath}/resources/img/logo-vermelha.png" />
					</a>
					<div align="center">
						<h:outputLabel value="#{dashboardBean.usuario.estabelecimento.nome}"
							style="font-weight:bold; font-size:16px; color:#D12034" />
						<br />
						<h:outputLabel id="olNomeFuncionario" value="#{dashboardBean.usuario.nome}"
							style="color:black" />
						<br />
						<h:outputLabel
							value="#{dashboardBean.usuario.tipoFuncionario.descricao}"
							style="font-size:13px;" />
					</div>

					<!-- Implementar funcionalidades abaixo -->
					<div class="row" align="center">

						<h:commandLink action="#{dashboardBean.clicarPerfil()}" styleClass="dropdown-toggle" data-toggle="dropdown" style="margin-right: 20px">
							<i class="material-icons">account_box</i>
						</h:commandLink>
							 
						<h:commandLink action="#{logout.logout}" styleClass="dropdown-toggle" data-toggle="dropdown"> 
							<i class="material-icons">cancel</i>
							<f:ajax disabled="false"/>							
						</h:commandLink>
					</div>
				</div>
				<div class="sidebar-wrapper">
					<ul class="nav">
						<li class="#{dashboardBean.classeBotaoInicio}"><h:commandLink
								action="#{dashboardBean.clicarInicio()}">
								<!-- <f:ajax event="action" execute="@this" render="conteudo @form"></f:ajax> -->
								<i class="material-icons">dashboard</i>
								<p>Início</p>
							</h:commandLink></li>
						<li class="#{dashboardBean.classeBotaoFuncionarios}"><h:commandLink
								rendered="#{dashboardBean.isGerente()}"
								action="#{dashboardBean.clicarFuncionarios()}">
								<!-- <f:ajax event="action" execute="@this" render="conteudo @form"></f:ajax> -->
								<i class="material-icons">person</i>
								<p>Funcionários</p>
							</h:commandLink></li>
						<li class="#{dashboardBean.classeBotaoMesas}"><h:commandLink
								rendered="#{!dashboardBean.isCozinheiro()}"
								action="#{dashboardBean.clicarMesas()}">
								<!-- <f:ajax event="action" execute="@this" render="conteudo @form"></f:ajax> -->
								<i class="material-icons">border_all</i>
								<p>Mesas</p>
							</h:commandLink></li>
						<li class="#{dashboardBean.classeBotaoEstoque}"><h:commandLink
								rendered="#{dashboardBean.isGerente()}"
								action="#{dashboardBean.clicarEstoque()}">
								<!-- <f:ajax event="action" execute="@this" render="conteudo @form"></f:ajax> -->
								<i class="material-icons">inbox</i>
								<p>Estoque</p>
							</h:commandLink></li>
						<li class="#{dashboardBean.classeBotaoPedidos}"><h:commandLink
								action="#{dashboardBean.clicarPedidos()}">
								<!-- <f:ajax event="action" execute="@this" render="conteudo @form"></f:ajax> -->
								<i class="material-icons">content_paste</i>
								<p>Pedidos</p>
							</h:commandLink></li>						
						<li class="#{dashboardBean.classeBotaoEstabelecimento}"><h:commandLink
								rendered="#{dashboardBean.isGerente()}"
								action="#{dashboardBean.clicarEstabelecimento()}">
								<!-- <f:ajax event="action" execute="@this" render="conteudo @form"></f:ajax> -->
								<i class="material-icons">store</i>
								<p>Estabelecimento</p>
							</h:commandLink></li>
					</ul>
				</div>
			</div>
			</h:form>
		<!--CONTEÚDO -->
		<h:panelGroup id="conteudo" layout="block">
			<ui:include src="#{dashboardBean.pagina}"></ui:include>
		</h:panelGroup>

	</div>
</h:body>
</html>