<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/WEB-INF/templates/__layoutPublico.xhtml">
	<ui:define name="title">Rango | Gerenciador de Estabelecimentos Alimentícios</ui:define>
	<ui:param name="renderizarBotaoLogin" value="true" />

	<!-- CONTEÚDO -->
	<ui:define name="content">
		<header class="background-cadastro-completo" id="principal">
			<div class="container conteudo-inicial">
				<div class="row">
					<div class="col-lg-12">
						<h2>Tudo pronto!</h2>
						<hr class="star-light" />
						<p align="center">
							Obrigado por confiar à nós todas as informações do seu estabelecimento. 
							A partir de agora você poderá cadastrar seus funcionários, seu cardápio e todas 
							as mesas do seu estabelecimento, além de poder utilizar outro conjunto de recursos.<br/>
							Para acessar o nosso sistema basta <a href="#{facesContext.externalContext.requestContextPath}/dashboard">clicar aqui</a> 
							ou acessar o login no menu acima.
						</p>
					</div>
				</div>
			</div>
		</header>
	</ui:define>
</ui:composition>
</html>
