<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:composition template="/WEB-INF/templates/__layoutPublico.xhtml">
	
	<ui:define name="title">Rango | Gerenciador de Estabelecimentos Alimentícios</ui:define>	
	<ui:param name="naoRenderizarBotaoInicio" value="true"/>
	<ui:param name="renderizarBotaoLogin" value="true"/>
	<ui:param name="renderizarBotaoSobre" value="true"/>
	<ui:param name="renderizarBotaoRecursos" value="true"/>
	<ui:param name="renderizarBotaoCadastroInicio" value="true"/>
	
	<!-- CONTEÚDO -->
	<ui:define name="content">
		<!-- CONTEÚDO INICIAL -->
		<header class="background-logo-index">
			<div class="container conteudo-inicial">
				<div class="row">
					<div class="col-lg-12">
						<img class="img-responsive logo-inicial"
							src="#{facesContext.externalContext.requestContextPath}/resources/img/logo-branca.png"
							alt="" />
						<div class="intro-text">
							<span class="name"></span> <br></br> <span class="skills">Tenha
								controle sob seu estabelecimento!</span>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- SEÇÃO SOBRE -->
		<section id="sobre">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2>Sobre</h2>
						<hr class="star-primary" />
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-lg-offset-2">
						<p>Com o Rango! você poderá controlar tudo em seu
							estabelecimento, desde o seu estoque até quanto o seu
							estabelecimento fatura por mês. Além disso, você terá todos os
							pedidos sob seu controle e não perderá nem mais um centavo. Tenha
							mais agilidade e organização em seus pedidos, cadastrando todo
							seu menu de produtos e mesas do seu estabelecimento.</p>
					</div>
					<div class="col-lg-4">
						<p>E tem mais! Você poderá distribuir funções específicas para
							cada um dos seus funcionários, deixando-os atualizados em tempo
							real sobre tudo que acontece em seu estabelecimento. O Rango! te
							dará uma interface intuitiva e fácil de usar, e claro, tudo isso
							na palma da sua mão.</p>
					</div>
				</div>
			</div>
		</section>

		<!-- SEÇÃO RECURSOS -->
		<section class="background-funcionalidades-index" id="recursos">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 style="color: white">Recursos</h2>
						<hr class="star-light" />
					</div>
				</div>
				<div class="col-lg-8 col-lg-offset-2">
					<div class="row">
						<div class="col-sm-4" style="margin-top: 20px;">
							<div class="portfolio-item box-funcionalidades" align="center">
								<img
									src="#{facesContext.externalContext.requestContextPath}/resources/img/icon-funcionario.png" />
								<h3>Gestão de Funcionários</h3>
								<p>Defina funções específicas para seus funcionários,
									deixando-os atualizados sobre tudo que acontence no
									estabelecimento</p>
							</div>
						</div>
						<div class="col-sm-4" style="margin-top: 20px;">
							<div class="portfolio-item box-funcionalidades" align="center">
								<img
									src="#{facesContext.externalContext.requestContextPath}/resources/img/icon-menu.png" />
								<h3>Gestão de Cardápio</h3>
								<p>Controle todos os produtos presentes em seu estoque e
									organize seu cardápio dividindo-os em categorias à sua escolha</p>
							</div>
						</div>
						<div class="col-sm-4" style="margin-top: 20px;">
							<div class="portfolio-item box-funcionalidades" align="center">
								<img
									src="#{facesContext.externalContext.requestContextPath}/resources/img/icon-pedido.png" />
								<h3>Gestão de Pedidos</h3>
								<p>Crie e gerencie pedidos de uma forma fácil e rápida
									através de uma interface super intuitiva sem perder nenhum
									detalhe</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4" style="margin-top: 20px;">
							<div class="portfolio-item box-funcionalidades" align="center">
								<img
									src="#{facesContext.externalContext.requestContextPath}/resources/img/icon-mesa.png" />
								<h3>Gestão de Mesas</h3>
								<p>Saiba quantas mesas estão livres ou ocupadas, qual a sua
									capacidade e onde ela está localizada. Tudo isso na ponta do
									seu dedo</p>
							</div>
						</div>
						<div class="col-sm-4" style="margin-top: 20px;">
							<div class="portfolio-item box-funcionalidades" align="center">
								<img
									src="#{facesContext.externalContext.requestContextPath}/resources/img/icon-relatorio.png" />
								<h3>Emissão de Relatórios</h3>
								<p>A saúde financeira do seu estabelecimento através de
									números e gráficos. Além disso, saiba como está a venda dos
									seus produtos</p>
							</div>
						</div>
						<div class="col-sm-4" style="margin-top: 20px;">
							<div class="portfolio-item box-funcionalidades" align="center">
								<img
									src="#{facesContext.externalContext.requestContextPath}/resources/img/icon-suporte.png" />
								<h3>Suporte Técnico</h3>
								<p>Tire suas dúvidas conosco através das redes sociais e
									solucione rapidamente eventuais problemas que por ventura
									aconteçam</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- SEÇÃO CADASTRAR -->
		<section id="cadastro">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2>Cadastro</h2>
						<hr class="star-primary" />
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<p align="center">Tem interesse? Então não perca mais tempo e
							solicite logo o seu cadastro. Teremos o maior prazer em falar com
							você e tornar o seu negócio ainda mais lucrativo!</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h:messages errorClass="text-danger" style="font-size: 1.2em" layout="table"></h:messages>
						<!-- Formulário de cadastro -->
						<h:form id="formRegister" styleClass="form">

							<div class="row control-group">
								<div
									class="form-group col-xs-12 floating-label-form-group controls">
									<label>Seu nome completo</label>
									<h:inputText styleClass="form-control" a:placeholder="Seu nome"
										id="nome" required="true"
										requiredMessage="Por favor, insira seu nome"
										value="#{register.cadastro.nome}">
										<f:validator validatorId="nomeValidator"/>
									</h:inputText>

									<p class="help-block text-danger"></p>
								</div>
							</div>
							<div class="row control-group">
								<div
									class="form-group col-xs-12 floating-label-form-group controls">
									<label>Seu email</label>
									<h:inputText styleClass="form-control"
										a:placeholder="Seu email" id="email" required="true"
										requiredMessage="Por favor, insira seu email"
										value="#{register.cadastro.email}">
										<f:validator validatorId="emailValidator"></f:validator>
									</h:inputText>
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<div class="row control-group">
								<div
									class="form-group col-xs-12 floating-label-form-group controls">
									<label>Seu telefone</label>
									<h:inputText styleClass="form-control mascara-telefone"
										a:placeholder="Seu telefone" id="telefone" required="true"
										requiredMessage="Por favor, insira seu telefone"
										value="#{register.cadastro.telefone}">
										<f:converter converterId="telefoneConverter"></f:converter>
									</h:inputText>
									<p class="help-block text-danger"></p>
								</div>
							</div>
							
							<br></br>
							<div id="success"></div>
							<div class="form-group">
								<div class="row">
									<label class="col-xs-3 col-sm-4 control-label"></label>
									<div class="col-xs-6 col-sm-4 center-block ">										
										<h:commandButton id="btn-cadastrar" class="btn btn-block botao-cinza"
											action="#{register.submit}" value="Cadastrar">
											<f:passThroughAttribute name="data-toggle" value="modal" />
											<f:passThroughAttribute name="data-target" value="#myModal" />
											<f:ajax event="action" execute="@form" render="@all myModal"/>
										</h:commandButton>										
									</div>
									<label class="col-xs-3 col-sm-4 control-label"></label>
								</div>
							</div>
							<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->						
						</h:form>
						<!-- Modal -->
						<div id="myModal" class="modal fade" role="dialog" style="margin-top:20%; margin-left:-4%">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="spinner">
										<div class="cube1">
											<img class="img-responsive logo-inicial" src="#{facesContext.externalContext.requestContextPath}/resources/img/r-branco.png" alt="" />
										</div>
										<div class="cube2">
											<img class="img-responsive logo-inicial" src="#{facesContext.externalContext.requestContextPath}/resources/img/r-branco.png" alt="" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</ui:define>
</ui:composition>
</html>