<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/WEB-INF/templates/__layoutPublico.xhtml">

	<f:metadata>
		<!-- TODO: Verificar se funciona usando o f:viewAction -->
		<f:event id="postConstructorEvent"
			type="javax.faces.event.PreRenderComponentEvent"
			listener="#{erroPaginaLogin.dispararMensagemLoginErro(param['error'])}" />
	</f:metadata>

	<ui:define name="title">Login | Rango</ui:define>
	<ui:param name="renderizarBotaoCadastro" value="true" />

	<!-- CONTEÚDO -->
	<ui:define name="content">
		<!-- SEÇÃO LOGIN -->
		<section class="background-login conteudo-inicial" id="login">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<br></br>
						<h2>Login</h2>
						<hr class="star-primary" />
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h:messages errorClass="text-danger" style="font-size: 1.2em" layout="table"></h:messages>
						<!-- <h:form id="formLogin" enctype="multipart/form-data"> -->
						<h:form id="formLogin" prependId="false"
							onsubmit="action='j_security_check';">
							<div class="row control-group">
								<div
									class="form-group col-xs-12 floating-label-form-group controls">
									<label for="j_username">Login</label>
									<h:inputText a:autofocus="true" styleClass="form-control"
										a:placeholder="Login" id="j_username" required="true"
										requiredMessage="Por favor, insira seu login" />
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<div class="row control-group">
								<div
									class="form-group col-xs-12 floating-label-form-group controls">
									<label for="j_password">Senha</label>
									<h:inputSecret styleClass="form-control" a:placeholder="Senha"
										id="j_password" required="true"
										requiredMessage="Por favor, insira sua senha" />
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<br></br>
							<div id="success"></div>

							<div class="form-group">
								<div class="row">
									<label class="col-sm-2 control-label"></label>
									<div class="col-xs-12 col-sm-8 center-block" align="center">
										<p style="font-size: 1.3em">
											Esqueceu a senha? <a href="#">Clique aqui</a> para
											recuperá-la
										</p>
									</div>
									<label class="col-sm-2 control-label"></label>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-xs-3 col-sm-4 control-label"></label>
									<div class="col-xs-6 col-sm-4 center-block ">
										<h:commandButton id="btnLogin"
											styleClass="btn btn-block botao-cinza" value="Entrar">
										</h:commandButton>
									</div>
									<label class="col-xs-3 col-sm-4 control-label"></label>
								</div>
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</section>
	</ui:define>
</ui:composition>
</html>
