<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/WEB-INF/templates/__layoutPublico.xhtml">
	<ui:define name="title">Rango | Gerenciador de Estabelecimentos Alimentícios</ui:define>
	<ui:param name="renderizarBotaoLogin" value="true" />

	<!-- CONTEÚDO -->
	<ui:define name="content">
		<header class="background-cadastro" id="principal">
			<div class="container conteudo-inicial">
				<div class="row">
					<div class="col-lg-12">
						<h2>Obrigado!</h2>
						<hr class="star-light" />
						<p align="center">
							Já te enviamos um e-mail de confirmação e em poucos minutos
							entraremos em contato com você para finalizarmos seu cadastro. <br/>Se
							você não conseguir visualizar o e-mail de confirmação na sua
							caixa de entrada, por favor, verifique a sua aba de Spam.
						</p>
					</div>
				</div>
			</div>
		</header>
	</ui:define>
</ui:composition>
</html>
