<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/WEB-INF/templates/__layoutPublico.xhtml">

	<f:metadata>
		<!-- TODO: Verificar se funciona usando o f:viewAction -->
		<f:event id="postConstructorEvent"
			type="javax.faces.event.PreRenderComponentEvent"
			listener="#{erroPaginaLogin.dispararMensagemLoginErro(param['error'])}" />
	</f:metadata>

	<ui:define name="title">Recuperar Senha | Rango</ui:define>
	<ui:param name="renderizarBotaoCadastro" value="true" />

	<!-- CONTEÚDO -->
	<ui:define name="content">
		<!-- SEÇÃO RECUPERAR SENHA -->
		<section class="background-login conteudo-inicial"
			id="recuperar_senha">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<br></br>
						<h2>Redefinir Senha</h2>
						<hr class="star-primary" />
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<p align="center">Após enviar seu login, enviaremos uma
							senha temporária para o email do gerente do seu estabelecimento.
							Assim, você poderá ter acesso ao sistema novamente e mudar sua
							senha para uma de sua escolha.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h:messages errorClass="text-danger" style="font-size: 1.2em"
							layout="table"></h:messages>
						<!-- <h:form id="formLogin" enctype="multipart/form-data"> -->
						<h:form id="formRecuperar">
							<div class="row control-group">
								<div
									class="form-group col-xs-12 floating-label-form-group controls">
									<label for="itLogin">Login</label>
									<h:inputText a:autofocus="true" styleClass="form-control"
										a:placeholder="Login" id="itLogin" required="true"
										requiredMessage="Por favor, insira seu login" />
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-xs-3 col-sm-4 control-label"></label>
									<div class="col-xs-6 col-sm-4 center-block ">
										<h:commandButton id="btnLogin"
											styleClass="btn btn-block botao-cinza" value="Enviar">
										</h:commandButton>
									</div>
									<label class="col-xs-3 col-sm-4 control-label"></label>
								</div>
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</section>
	</ui:define>
</ui:composition>
</html>
