<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"		
		xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:f="http://xmlns.jcp.org/jsf/core"
		xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
		xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
    <meta charset="utf-8"/>    
	<!-- COMPATIBILIDA EDGE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>        
    <!-- CONFIGURAÇÃO MOBILE -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <!-- COR DA BARRA CHROME -->
	<meta name="theme-color" content="#1A2226" />
	
	<!-- ÍCONE BARRA -->    
    <link rel="icon" type="imagem/png" href="#{resource['/img/r-vermelho.png']}" />    

    <title>Rango | Gerenciador de Estabelecimentos Alimentícios</title>

    <!-- CSS BOOTSTRAP-->    
    <h:outputStylesheet library="css" name="bootstrap.min.css"/>  
    <!-- CSS DO TEMPLATE -->    
    <h:outputStylesheet library="css" name="freelancer.min.css"/>
    <!-- CSS DE PERSONALIZAÇÃO -->    
	<h:outputStylesheet library="css" name="font-awesome.min.css"/>       
    <h:outputStylesheet library="css" name="montserrat.css"/>    
    <h:outputStylesheet library="css" name="lato.css"/>
    <h:outputStylesheet library="css" name="jadson.css"/>     

</h:head>

<h:body id="page-top" styleClass="index">  

    <!-- SEÇÃO SOBRE -->
    <section class="background-login conteudo-inicial " id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>ERROR #{requestScope['javax.servlet.error.status_code']}</h2>
                    <hr class="star-primary"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>	Algo de errado aconteceu! <a href="#{facesContext.externalContext.requestContextPath}">Clique aqui</a> e retorne para o início. Se isso continuar acontecendo contate-nos
                    o mais rápido possível para que possamos resolver esse problema! Mil desculpas por esse imprevisto.</p>
                </div>                             
            </div>
        </div>
    </section>     

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../dist/js/freelancer.min.js"></script>
   
</h:body>

</html>
