<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition>
	<div class="main-panel background-dash">
		<!-- MENU SUPERIOR -->
		<nav class="navbar navbar-transparent navbar-absolute">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand"> Início </a>
				</div>
			</div>
		</nav>
		<div id="content" style="margin-top: 60px">
			<div class="container-fluid">
				<div class="row">
					<h:panelGroup rendered="#{dashboardBean.isGerente()}"
						layout="block">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="material-icons">attach_money</i>
								</div>
								<div class="card-content">
									<p class="category">Caixa esse mês</p>
									<!-- <h3 class="title">R$2.034,24</h3> -->
									<h:outputText styleClass="h3 title" value="R$ " />
									<h:outputText styleClass="h3 title"
										value="#{pedidoBean.caixaDoMes()}">
										<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
									</h:outputText>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="material-icons">content_paste</i>
								</div>
								<div class="card-content">
									<p class="category">Pedidos do mês</p>
									<h3 class="title">#{pedidoBean.pedidosDoMes()}</h3>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="material-icons">person</i>
								</div>
								<div class="card-content">
									<p class="category">Funcionários</p>
									<h3 class="title">
										#{funcionarioBean.funcionarios.size()}
										<!--<small>GB</small>-->
									</h3>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="material-icons">inbox</i>
								</div>
								<div class="card-content">
									<p class="category">Produtos</p>
									<h3 class="title">#{estoqueBean.produtos.size()}</h3>
								</div>
							</div>
						</div>
					</h:panelGroup>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header" data-background-color="red">
								<i class="material-icons">apps</i>
							</div>
							<div class="card-content">
								<p class="category">Mesas Ocupadas</p>
								<h3 class="title">
									#{mesaBean.contMesas()}
									<!--<small>GB</small>-->
								</h3>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header" data-background-color="red">
								<i class="material-icons">warning</i>
							</div>
							<div class="card-content">
								<p class="category">Produtos em falta</p>
								<h3 class="title">#{estoqueBean.produtosEmFalta()}</h3>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header" data-background-color="red">
								<i class="material-icons">restaurant</i>
							</div>
							<div class="card-content">
								<p class="category">Pedidos Abertos</p>
								<h3 class="title">#{pedidoBean.pedidosAbertos.size()}</h3>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="card card-stats">
							<div class="card-header" data-background-color="red">
								<img style="width: 55px"
									src="#{facesContext.externalContext.requestContextPath}/resources/img/icon-cozinha.png" />
							</div>
							<div class="card-content">
								<p class="category">Itens na Cozinha</p>
								<h3 class="title">#{pedidoBean.buscarItensCozinha().size()}</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<h:panelGroup rendered="#{dashboardBean.isGerente()}">
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-header" data-background-color="red">
									<h4 class="title">Top 3 Garçons</h4>
									<p class="category">Valores referentes ao mês de
										#{dashboardBean.getMesEAnoAtual()}</p>
								</div>
								<div class="card-content table-responsive">
									<h:dataTable class="table table-hover"
										value="#{dashboardBean.topGarcons}" var="garcom">
										<h:column headerClass="text-danger">
											<f:facet name="header">Nome</f:facet>
											<h:outputText value="#{garcom.nome}" />
										</h:column>
										<h:column headerClass="text-danger">
											<f:facet name="header">Pedidos</f:facet>
											<h:outputText value="#{garcom.pedidos}" />
										</h:column>
										<h:column headerClass="text-danger">
											<f:facet name="header">Valor</f:facet>
											<h:outputText value="R$ " />
											<h:outputText value="#{garcom.valor}">
												<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
											</h:outputText>
										</h:column>
									</h:dataTable>
								</div>
							</div>
						</div>
					</h:panelGroup>
					<div class="col-lg-6 col-md-12">
						<div class="card">
							<div class="card-header" data-background-color="red">
								<h4 class="title">Top 3 Produtos</h4>
								<p class="category">Valores referentes ao mês de
									#{dashboardBean.getMesEAnoAtual()}</p>
							</div>
							<div class="card-content table-responsive">
								<h:dataTable class="table table-hover"
									value="#{dashboardBean.topProdutos}" var="produto">
									<h:column headerClass="text-danger">
										<f:facet name="header">Nome</f:facet>
										<h:outputText value="#{produto.nome}" />
									</h:column>
									<h:column headerClass="text-danger">
										<f:facet name="header">Quantidade</f:facet>
										<h:outputText value="#{produto.quantidade}" />
									</h:column>
									<h:column headerClass="text-danger">
										<f:facet name="header">Lucro</f:facet>
										<h:outputText value="R$ " />
										<h:outputText value="#{produto.lucro}">
											<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
										</h:outputText>
									</h:column>
								</h:dataTable>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui:composition>
</html>