<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition>
	<div class="main-panel background-dash">
		<!-- MENU SUPERIOR -->
		<nav class="navbar navbar-transparent navbar-absolute">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand"> Perfil </a>
				</div>
			</div>
		</nav>
		<div id="content" style="margin-top: 60px">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-10">
						<div class="card">
							<div class="card-header" data-background-color="red">
								<h4 class="title">Edição de Perfil</h4>
								<p class="category">Dados pessoais e de acesso</p>
							</div>
							<h:form id="formPerfil">
								<div class="card-content">
									<h:messages layout="table" errorClass="text-danger"
										infoClass="text-success" style="font-size: 1.2em" />
									<div class="row">
										<div class="col-md-5">
											<div class="form-group label-floating">
												<label class="control-label">Nome</label>
												<h:inputText class="form-control input-jadson"
													style="width:100%" value="#{perfilBean.usuario.nome}"
													required="true" requiredMessage="Por favor, insira seu nome completo" id="itNome">
													<f:validator validatorId="nomeValidator"/>
												</h:inputText>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group label-floating">
												<label class="control-label">Login</label>
												<div class="input-group">
													<h:inputText id="itLogin" class="form-control input-jadson"
														value="#{perfilBean.usuario.login}" required="true" requiredMessage="Por favor, insira um login válido!" />
													<span class="input-group-addon"><p:commandLink
															id="botaoChecarLogin"
															process="botaoChecarLogin formPerfil:itLogin"
															action="#{perfilBean.checkarLogin()}">
															<!-- <i class="fa fa-check" datacolor="red"></i> -->
															<i class="material-icons">check_circle</i>
															<!-- <f:ajax event="action" execute="botaoChecarLogin" render="@none"></f:ajax> -->
														</p:commandLink></span>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group label-floating">
												<label class="control-label">Telefone</label>
												<p:inputMask class="form-control input-jadson"
													mask="(99) 99999-9999" id="itTelefone"
													value="#{perfilBean.usuario.telefone}" required="true" requiredMessage="Por favor, insira o seu telefone!">
													<f:converter converterId="telefoneConverter" />
												</p:inputMask>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group label-floating">
												<label class="control-label">Email</label>
												<h:inputText class="form-control input-jadson"
													style="width:100%" value="#{perfilBean.usuario.email}"
													required="#{perfilBean.isGerente()}" requiredMessage="Por favor, insira seu email!">
													<f:validator validatorId="emailValidator" />
												</h:inputText>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group label-floating">
												<label class="control-label">CPF</label>
												<p:inputMask class="form-control input-jadson"
													mask="999.999.999-99" value="#{perfilBean.usuario.cpf}"
													required="#{perfilBean.isGerente()}" requiredMessage="Por favor, insira seu CPF!" disabled="#{perfilBean.usuario.cpf!=null}" converter="cpfConverter" validator="cpfValidator">													
												</p:inputMask>
													
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group label-floating">
												<label class="control-label">Função</label>
												<h:inputText class="form-control input-jadson"
													value="#{perfilBean.usuario.tipoFuncionario.descricao}"
													disabled="true" />
											</div>
										</div>
									</div>

									<h:commandButton
										onclick="$('#modalEditarSenha').modal('show');"
										immediate="true" value="Editar Senha" class="btn btn-primary">
										<f:ajax execute="@this" render=":formEditarSenha" />
									</h:commandButton>

								</div>
								<div class="card-footer" align="center" style="border: 0">
									<h:commandButton action="#{perfilBean.atualizarUsuario()}" actionListener="#{dashboardBean.atualizarUsuario()}" value="Atualizar" class="btn btn-primary">
										<f:ajax execute="formPerfil" render=":formPerfil :formDashboard" />
									</h:commandButton>
								</div>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL EDITAR SENHA -->
	<div id="modalEditarSenha" class="modal fade" role="dialog"
		data-backdrop="static" data-keyboard="false"
		style="padding-left: 30px">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="card card-nav-tabs">
					<div class="card-content">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="box box-danger">
										<div class="box-header with-border" align="center">
											<h3 class="box-title">Editar Senha</h3>
										</div>
										<h:form id="formEditarSenha">
											<div class="box-body">
												<h:messages layout="table" errorClass="text-danger"
													infoClass="text-success" style="font-size: 1.2em" />
												<div class="form-group controls">
													<label for="itAntigaSenha">Digite a senha atual</label>
													<h:inputSecret value="#{perfilBean.antigaSenha}"
														id="itAntigaSenha" styleClass="form-control input-jadson"
														required="true"
														requiredMessage="Por favor, insira a senha atual" />
												</div>
												<div class="form-group controls">
													<label for="itNovaSenha">Digite a nova senha</label>
													<h:inputSecret value="#{perfilBean.novaSenha}"
														id="itNovaSenha" styleClass="form-control input-jadson"
														required="true"
														requiredMessage="Por favor, insira a nova senha" />
												</div>
												<div class="form-group controls">
													<label for="itConfirmarSenha">Confirme a nova senha</label>
													<h:inputSecret value="#{perfilBean.confirmarNovaSenha}"
														id="itConfirmarSenha"
														styleClass="form-control input-jadson" required="true"
														requiredMessage="Por favor, confirme a nova senha" />
												</div>

											</div>
											<div class="box-footer" align="center">
												<h:commandButton value="Salvar" styleClass="btn btn-danger"
													action="#{perfilBean.atualizarSenha}">

													<f:ajax event="action" execute="formEditarSenha"
														render="formEditarSenha formPerfil" immediate="true" />
												</h:commandButton>
												<h:commandButton value="Fechar" styleClass="btn btn-danger"
													style="margin-left:10px"
													onclick="$('#modalEditarSenha').modal('hide');">
													<f:ajax event="action" execute="@this" render="@none" />
												</h:commandButton>
											</div>
										</h:form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui:composition>
</html>